<div class="mt-5">
    <div class="pt-3 justify-content-start">
        <div class="heading-box">
        <h2 class="heading-title color-1 mb-0">Motamar Informations</h2>
        </div>
        <p>You benefit from the best rate.</p>
    </div>

    <div class="all-content-box payment-gateways">
        <div class="row">
            <div class="col-xl-7 mb-4">
                <div class="heading-box">
                    <h5 class="heading-title-sm color-2 mb-0">
                        Occupancy informations
                    </h5>
                    <p>You benefit from the best payment gateways.</p>
                </div>
                <div class="row occupancy-content">
                    <div class="col-xl-2">
                    <div class="form-group">
                        <label>Title</label>
                        <div class="title-select">
                        <div class="col-xl-12 mb-3">
                            <div class="dropdown w-100">
                            <button
                                class="btn w-100"
                                type="button"
                                data-bs-toggle="dropdown"
                                data-bs-auto-close="outside"
                                data-bs-display="static"
                                aria-expanded="false"
                            >
                                <div
                                class="d-flex me-4 justify-content-between w-100 align-items-center"
                                >
                                <div class="input-group">
                                    <p class="m-0 text-muted">Gender</p>
                                </div>
                                <i class="icon-line-chevron-down"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu animate slideIn">
                                <div>
                                <div class="select-container">
                                    <label for="mr" class="me-3 w-100">
                                    <input
                                        type="radio"
                                        class="form-check-input me-2"
                                        name="gender"
                                        id="mr"
                                        value="mr"
                                    />
                                    <div class="list-item">Mr.</div>
                                    </label>
                                </div>
                                <div class="select-container">
                                    <label for="ms" class="me-3 w-100">
                                    <input
                                        type="radio"
                                        class="form-check-input me-2"
                                        name="gender"
                                        id="ms"
                                        value="ms"
                                    />
                                    <div class="list-item">Ms.</div>
                                    </label>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-xl-4">
                    <div class="form-group">
                        <label for="motamar-name">FirstName</label>
                        <input
                        type="text"
                        name="motamar-name"
                        id="motamar-name"
                        class="form-control border-form-control required"
                        value=""
                        placeholder="Enter Your First Name"
                        />
                    </div>
                    </div>
                    <div class="col-xl-4">
                    <div class="form-group">
                        <label for="motamar-lastname">LastName</label>
                        <input
                        type="text"
                        name="motamar-lastname"
                        id="motamar-lastname"
                        class="form-control border-form-control required"
                        value=""
                        placeholder="Enter Your Last Name"
                        />
                    </div>
                    </div>
                    <div class="col-xl-2">
                    <div class="form-group">
                        <label for="motamar-guest">Guest type</label>
                        <input
                        type="text"
                        name="motamar-guest"
                        id="motamar-guest"
                        class="form-control border-form-control required"
                        value="Adult"
                        placeholder=""
                        disabled
                        />
                    </div>
                    </div>
                </div>
                <div class="row occupancy-content">
                    <div class="col-xl-2">
                    <div class="form-group">
                        <label>Title</label>
                        <div class="title-select">
                        <div class="col-xl-12 mb-3">
                            <div class="dropdown w-100">
                            <button
                                class="btn w-100"
                                type="button"
                                data-bs-toggle="dropdown"
                                data-bs-auto-close="outside"
                                data-bs-display="static"
                                aria-expanded="false"
                            >
                                <div
                                class="d-flex me-4 justify-content-between w-100 align-items-center"
                                >
                                <div class="input-group">
                                    <p class="m-0 text-muted">Gender</p>
                                </div>
                                <i class="icon-line-chevron-down"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu animate slideIn">
                                <div>
                                <div class="select-container">
                                    <label for="mr" class="me-3 w-100">
                                    <input
                                        type="radio"
                                        class="form-check-input me-2"
                                        name="gender"
                                        id="mr"
                                        value="mr"
                                    />
                                    <div class="list-item">Mr.</div>
                                    </label>
                                </div>
                                <div class="select-container">
                                    <label for="ms" class="me-3 w-100">
                                    <input
                                        type="radio"
                                        class="form-check-input me-2"
                                        name="gender"
                                        id="ms"
                                        value="ms"
                                    />
                                    <div class="list-item">Ms.</div>
                                    </label>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-xl-4">
                    <div class="form-group">
                        <label for="motamar-name2">First Name</label>
                        <input
                        type="text"
                        name="motamar-name"
                        id="motamar-name2"
                        class="form-control border-form-control required"
                        value=""
                        placeholder="Enter Your First Name"
                        />
                    </div>
                    </div>
                    <div class="col-xl-4">
                    <div class="form-group">
                        <label for="motamar-lastname2">Last Name</label>
                        <input
                        type="text"
                        name="motamar-lastname"
                        id="motamar-lastname2"
                        class="form-control border-form-control required"
                        value=""
                        placeholder="Enter Your Last Name"
                        />
                    </div>
                    </div>
                    <div class="col-xl-2">
                    <div class="form-group">
                        <label for="motamar-guest2">Guest Type</label>
                        <input
                        type="text"
                        name="motamar-guest"
                        id="motamar-guest2"
                        class="form-control border-form-control required"
                        value="Adult"
                        placeholder=""
                        disabled
                        />
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 checkout-details mb-4">
                <div class="heading-box">
                    <h5 class="heading-title-sm color-2 mb-4">
                        Your Booking(s)
                    </h5>
                    <div class="checkout-booking-list">
                        <div class="list-booked-room">
                            <div class="booked-room mb-3">
                                <div class="row">
                                    <div class="col-12 col-lg-12">
                                        <div class="booked-room-content">
                                            <div class="row">
                                                <div class="col-lg-12 d-flex justify-content-between align-items-center">
                                                    <div class="room-label">Room 1</div>
                                                    <div class="room-price"><span>$</span>300</div>
                                                </div>	
                                                <div class="col-lg-12">
                                                    <div class="room-type">
                                                        <h3 class="t-ellipsis">King junior suite partial Haram view</h3>
                                                    </div>
                                                    <div class="room-infos">
                                                        <div class="d-flex me-4 align-items-center">
                                                            <i class="icon-line-clock"></i>
                                                            <p class="mb-0 ms-2">2 night(s)</p>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <i class="icon-line-map-pin"></i>
                                                            <p class="mb-0 ms-2">Movenpick Makkah Hajar Tower</p>
                                                        </div>
                                                    </div>
                                                    <div class="room-details-content">
                                                        <div class="room-details">
                                                            <div class="d-flex align-items-center">
                                                                <i class="icon-line-calendar"></i>
                                                                <p class="mb-0 ms-2">08/15/2023 - 08/17/2023</p>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <i class="icon-line-users"></i>
                                                                <p class="mb-0 ms-2">2 Adult(s), 0 child(s)</p>
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="booked-room mb-3">
                                <div class="row">
                                    <div class="col-12 col-lg-12">
                                        <div class="booked-room-content">
                                            <div class="row">
                                                <div class="col-lg-12 d-flex justify-content-between align-items-center">
                                                    <div class="room-label">Room 2</div>
                                                    <div class="room-price"><span>$</span>300</div>
                                                </div>	
                                                <div class="col-lg-12">
                                                    <div class="room-type">
                                                        <h3 class="t-ellipsis">Two Bedroom Suite City View</h3>
                                                    </div>
                                                    <div class="room-infos">
                                                        <div class="d-flex me-4 align-items-center">
                                                            <i class="icon-line-clock"></i>
                                                            <p class="mb-0 ms-2">2 night(s)</p>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <i class="icon-line-map-pin"></i>
                                                            <p class="mb-0 ms-2">Movenpick Makkah Hajar Tower</p>
                                                        </div>
                                                    </div>
                                                    <div class="room-details-content">
                                                        <div class="room-details">
                                                            <div class="d-flex align-items-center">
                                                                <i class="icon-line-calendar"></i>
                                                                <p class="mb-0 ms-2">08/15/2023 - 08/17/2023</p>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <i class="icon-line-users"></i>
                                                                <p class="mb-0 ms-2">2 Adult(s), 0 child(s)</p>
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="booked-room mb-3">
                                <div class="row">
                                    <div class="col-12 col-lg-12">
                                        <div class="booked-room-content">
                                            <div class="row">
                                                <div class="col-lg-12 d-flex justify-content-between align-items-center">
                                                    <div class="room-label">Room 3</div>
                                                    <div class="room-price"><span>$</span>300</div>
                                                </div>	
                                                <div class="col-lg-12">
                                                    <div class="room-type">
                                                        <h3 class="t-ellipsis">Superior double room</h3>
                                                    </div>
                                                    <div class="room-infos">
                                                        <div class="d-flex me-4 align-items-center">
                                                            <i class="icon-line-clock"></i>
                                                            <p class="mb-0 ms-2">2 night(s)</p>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <i class="icon-line-map-pin"></i>
                                                            <p class="mb-0 ms-2">Movenpick Makkah Hajar Tower</p>
                                                        </div>
                                                    </div>
                                                    <div class="room-details-content">
                                                        <div class="room-details">
                                                            <div class="d-flex align-items-center">
                                                                <i class="icon-line-calendar"></i>
                                                                <p class="mb-0 ms-2">08/15/2023 - 08/17/2023</p>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                <i class="icon-line-users"></i>
                                                                <p class="mb-0 ms-2">2 Adult(s), 0 child(s)</p>
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>	

                        <div class="total-price-box mb-4">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="total-price-content-box">
                                        <div class="total-content">
                                            <div class="total-price d-flex justify-content-between align-items-center">
                                                <h5>Subtotal</h5>
                                                <div class="price"><span>$</span>585</div>
                                            </div>
                                            <div class="total-price d-flex justify-content-between align-items-center">
                                                <h5>Taxes</h5>
                                                <div class="price"><span>$</span>65</div>
                                            </div>
                                            <hr>
                                            <div class="total-price d-flex justify-content-between align-items-center">
                                                <div class="total-price-content">
                                                    <h5>Total</h5>
                                                </div>
                                                <div class="price"><span>$</span>650</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center gap-3">
                            <button class="d-block color-btn colorinv-btn w-100 mt-2 mb-2">Cancel</button>
                            <button routerLink="/result/payment" class="d-block color-btn w-100 mt-2 mb-2">Pay</button>
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>

</div> 
