<div class="top-filter-section d-flex align-items-center justify-content-between gap-3 pb-3" >
  <div class="side-filter-tags d-flex align-items-center gap-2">
    <div class="filter-tag d-flex align-items-center">
      <p>5 stars</p>
      <button><i class="icon-line-cross"></i></button>
    </div>
    <div class="filter-tag d-flex align-items-center">
      <p>Half board</p>
      <button><i class="icon-line-cross"></i></button>
    </div>
    <div class="filter-tag d-flex align-items-center">
      <p>Small budget</p>
      <button><i class="icon-line-cross"></i></button>
    </div>
    <div class="filter-tag d-flex align-items-center">
      <p>Family</p>
      <button><i class="icon-line-cross"></i></button>
    </div>
    <div class="filter-tag d-flex align-items-center">
      <p>Free cancellation</p>
      <button><i class="icon-line-cross"></i></button>
    </div>
    <div class="filter-tag d-flex align-items-center">
      <p>Haram</p>
      <button><i class="icon-line-cross"></i></button>
    </div>
  </div>

  <div class="sorting-content d-flex align-items-center">
    <div class="d-flex">
      <a class="me-2"><i class="icon-line-arrow-down"></i></a>
      <div class="dropdown">
        <button class="btn w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static" aria-expanded="false">
          <div class="d-flex justify-content-between w-100 align-items-center">
            <div class="sort-label me-2">Sort by</div>
            <div class="input-group d-flex align-items-center">
              <p class="m-0 text-muted pe-2">Rating</p>
            </div>
            <i class="icon-line-chevron-down"></i>
          </div>
        </button>
        <div class="dropdown-menu animate slideIn">
          <div class="select-container">
            <label for="hotelrating" class="me-3 w-100">
              <input
                type="radio"
                class="form-check-input me-2"
                name="hotelrating"
                id="hotelrating"
                value="hotelrating"
              />
              <div class="list-item">Rating</div>
            </label>
          </div>
          <div class="select-container">
            <label for="hotelname" class="me-3 w-100">
              <input
                type="radio"
                class="form-check-input me-2"
                name="hotelname"
                id="hotelname"
                value="hotelname"
              />
              <div class="list-item">Name</div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex justify-content-end">
      <button class="color-btn">
          <i class="icon-line-refresh-cw"></i>
      </button>
    </div> -->
  </div>
</div>
