<div class="top-filter-section d-flex align-items-center justify-content-between gap-3 pb-3">
  <div class="side-filter-tags d-flex align-items-center gap-2">
    <!-- <div class="filter-content d-flex align-items-center gap-2">
      <i class="icon-line-filter"></i>
      <div class="filter-label me-2">Filter by</div>
    </div> -->
    <button
      type="button"
      class="color-btn d-flex flex-column align-items-center"
      placement="bottom-left"
      [ngbPopover]="stopovers"
      popoverTitle="Stopovers"
      popoverClass="custom-popover"
      data-bs-html="true"
    >
      <i class="icon-line-alert-octagon"></i>
      <span>Stopovers</span>
    </button>
    <ng-template #stopovers>
      <div>
        <ul>
          <li class="filter-list-item">Direct flight</li>
          <li class="filter-list-item">1 stop</li>
          <li class="filter-list-item">2 stops</li>
        </ul>
      </div>
    </ng-template>

    <button
      type="button"
      class="color-btn d-flex flex-column align-items-center"
      placement="bottom-left"
      [ngbPopover]="airline"
      popoverTitle="Stopovers"
      popoverClass="custom-popover"
      data-bs-html="true"
    >
      <i class="icon-line-send"></i>
      <span>Airline Co.</span>
    </button>
    <ng-template #airline>
      <div>
        <ul>
          <li class="filter-list-item">Tunisair</li>
          <li class="filter-list-item">Nouvelair</li>
          <li class="filter-list-item">Qatar Airways</li>
          <li class="filter-list-item">Air France</li>
        </ul>
      </div>
    </ng-template>

    <button
      type="button"
      class="color-btn d-flex flex-column align-items-center"
      placement="bottom-left"
      [ngbPopover]="class"
      popoverTitle="Stopovers"
      popoverClass="custom-popover"
      data-bs-html="true"
    >
      <i class="icon-line-star"></i>
      <span>Class</span>
    </button>
    <ng-template #class>
      <div>
        <ul>
          <li class="filter-list-item">Economic</li>
          <li class="filter-list-item">Business</li>
          <li class="filter-list-item">First</li>
        </ul>
      </div>
    </ng-template>

    <button
      type="button"
      class="color-btn d-flex flex-column align-items-center"
      placement="bottom-left"
      [ngbPopover]="departure"
      popoverTitle="Stopovers"
      popoverClass="custom-popover"
      data-bs-html="true"
    >
      <i class="icon-line-clock"></i>
      <span>Departure Time</span>
    </button>
    <ng-template #departure>
      <div>
        <ul>
          <li class="filter-list-item">00:00 - 04:59</li>
          <li class="filter-list-item">05:00 - 11:59</li>
          <li class="filter-list-item">17:00 - 23:59</li>
        </ul>
      </div>
    </ng-template>

    <button
      type="button"
      class="color-btn d-flex flex-column align-items-center"
      placement="bottom-left"
      [ngbPopover]="arrival"
      popoverTitle="Stopovers"
      popoverClass="custom-popover"
      data-bs-html="true"
    >
      <i class="icon-line-clock"></i>
      <span>Arrival Time</span>
    </button>
    <ng-template #arrival>
      <div>
        <ul>
          <li class="filter-list-item">05:00 - 11:59</li>
          <li class="filter-list-item">12:00 - 16:59</li>
          <li class="filter-list-item">17:00 - 23:59</li>
        </ul>
      </div>
    </ng-template>
    
  </div>

  <div class="sorting-content d-flex align-items-center">
    <div class="d-flex">
      <a class="me-2" (click)="sortOrder('increment')" *ngIf="order==='increment'"><i
          class="icon-line-arrow-down"></i></a>
      <a class="me-2" (click)="sortOrder('decrement')" *ngIf="order==='decrement'"><i
          class="icon-line-arrow-up"></i></a>
      <div class="dropdown">
        <button class="btn w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
          data-bs-display="static" aria-expanded="false">
          <div class="d-flex justify-content-between w-100 align-items-center">
            <div class="sort-label me-2">Sort by</div>
            <div class="input-group d-flex align-items-center">
              <p class="m-0 text-muted pe-2">Rating</p>
            </div>
            <i class="icon-line-chevron-down"></i>
          </div>
        </button>
        <div class="dropdown-menu animate slideIn">
          <div class="select-container">
            <label for="hotelrating" class="me-3 w-100">
              <input type="radio" class="form-check-input me-2" name="hotelrating" id="hotelrating"
                value="hotelrating" />
              <div class="list-item">Rating</div>
            </label>
          </div>
          <div class="select-container">
            <label for="hotelname" class="me-3 w-100">
              <input type="radio" class="form-check-input me-2" name="hotelname" id="hotelname" value="hotelname" />
              <div class="list-item">Name</div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex justify-content-end">
      <button class="color-btn">
          <i class="icon-line-refresh-cw"></i>
      </button>
    </div> -->
  </div>
</div>