<div class="row top-filter-section" >
  <div class="col-lg-3 pb-3">
    <div class="dropdown w-100">
      <button class="btn w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static" aria-expanded="false">
        <div class="d-flex me-4 justify-content-between w-100 align-items-center">
          <div class="input-group d-flex">
            <span class="input-group-text">
                <i class="icon-line-tag"></i>
            </span>
            <p class="m-0 text-muted">Price</p>
          </div>
          <i class="icon-line-chevron-down"></i>
        </div>
      </button>
      <div class="dropdown-menu animate slideIn">
        <div class="select-container">
          <label for="HightoLow" class="me-3 w-100">
            <input
              type="radio"
              class="form-check-input me-2"
              name=""
              id="HightoLow"
              value="HightoLow"
            />
            <div class="list-item">High to Low</div>
          </label>
        </div>
        <div class="select-container">
          <label for="LowtoHigh" class="me-3 w-100">
            <input
              type="radio"
              class="form-check-input me-2"
              name=""
              id="LowtoHigh"
              value="LowtoHigh"
            />
            <div class="list-item">Low to High</div>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 pb-3">
    <div class="dropdown w-100">
      <button class="btn w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static" aria-expanded="false">
        <div class="d-flex me-4 justify-content-between w-100 align-items-center">
          <div class="input-group d-flex">
            <span class="input-group-text">
                <i class="icon-line-star"></i>
            </span>
            <p class="m-0 text-muted">Star rating</p>
          </div>
          <i class="icon-line-chevron-down"></i>
        </div>
      </button>
      <div class="dropdown-menu animate slideIn">
        <div class="select-container">
          <label for="HightoLow" class="me-3 w-100">
            <input
              type="radio"
              class="form-check-input me-2"
              name=""
              id="HightoLow"
              value="HightoLow"
            />
            <div class="list-item">High to Low</div>
          </label>
        </div>
        <div class="select-container">
          <label for="LowtoHigh" class="me-3 w-100">
            <input
              type="radio"
              class="form-check-input me-2"
              name=""
              id="LowtoHigh"
              value="LowtoHigh"
            />
            <div class="list-item">Low to High</div>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 pb-3">
    <div class="dropdown w-100">
      <button class="btn w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static" aria-expanded="false">
        <div class="d-flex me-4 justify-content-between w-100 align-items-center">
          <div class="input-group d-flex">
            <span class="input-group-text">
                <i class="icon-line-tag"></i>
            </span>
            <p class="m-0 text-muted">Name</p>
          </div>
          <i class="icon-line-chevron-down"></i>
        </div>
      </button>
      <div class="dropdown-menu animate slideIn">
        <div class="select-container">
          <label for="HightoLow" class="me-3 w-100">
            <input
              type="radio"
              class="form-check-input me-2"
              name=""
              id="HightoLow"
              value="HightoLow"
            />
            <div class="list-item">A to Z</div>
          </label>
        </div>
        <div class="select-container">
          <label for="LowtoHigh" class="me-3 w-100">
            <input
              type="radio"
              class="form-check-input me-2"
              name=""
              id="LowtoHigh"
              value="LowtoHigh"
            />
            <div class="list-item">Z to A</div>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 pb-3 d-flex justify-content-end">
    <button class="color-btn">
        <i class="icon-line-refresh-cw"></i>
    </button>
  </div>
</div>
