<div class="package-item" *ngFor="let package of dataPackages;let i = index">
    <div class="box p-3">
        <div class="row m-0">
            <div class="col-lg-4 package ps-0">
                <div class="image-box">
                    <div class="package-offer"> 2 offers left</div>
                    <div class="carousel slide carousel-fade" data-bs-ride="carousel" [attr.id]="'packagecarousel-'+i">
                        <div class="carousel-indicators">
                            <button type="button" *ngFor="let x of package.packagePictures;let j=index"
                                [attr.data-bs-target]="'#packagecarousel-'+i" [attr.data-bs-slide-to]="j"
                                [attr.class]="j==0 && 'active'" aria-current="true"
                                [attr.aria-label]="'Slide '+j"></button>
                        </div>
                        <div class="carousel-inner">
                            <div *ngFor="let image of package.packagePictures ;let j=index"
                                class="carousel-item active">
                                <img src={{image}} class="package-picture d-block w-100" alt="" />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                            [attr.data-bs-target]="'#packagecarousel-'+i" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            [attr.data-bs-target]="'#packagecarousel-'+i" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 package-content">
                <div class="row h-100">
                    <div class="col-lg-8">
                        <div class="package-details">
                            <h5 class="package-title m-0 lh-base">{{package.packageTitle}}</h5>
                            <div class="package-rating lh-base">
                                <div class="d-flex align-items-center">
                                    <ngx-stars [readonly]="true" [size]="1" [maxStars]="5" [initialStars]='4'
                                        [color]="'#f4c253'"></ngx-stars>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2 mb-2">
                                <div class="package-type lh-base">
                                    <p class="m-0">Individiual stay</p>
                                </div>
                                <div class="package-theme lh-base">
                                    <p class="m-0">Discover</p>
                                </div>
                            </div>
                            <div class="package-place lh-base d-flex align-items-center gap-2 mb-1">
                                <i class="icon-line-map-pin"></i>
                                <p class="m-0 ">Makkah - Madinah</p>
                            </div>
                            <div class="package-date lh-base d-flex align-items-center gap-2 mb-1">
                                <i class="icon-line-calendar"></i>
                                <p class="m-0 ">12/01/2024 - 12/01/2024</p>
                            </div>
                            <div class="package-period lh-base d-flex align-items-center gap-2 mb-1">
                                <i class="icon-line-moon"></i>
                                <p class="m-0 ">10 days</p>
                            </div>
                            <div class="package-services lh-base">
                                <p class="m-0 ">Flights and transfers included</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 border-start">
                        <div class="d-flex flex-column mb-4">
                            <p class="lh-base m-0 text-end">Price from</p>
                            <div class="package-price lh-base text-end">
                                <span>$</span>350
                            </div>
                            <p class="package-reservation-specs text-end m-0">
                                1 room | 1 adult
                            </p>
                        </div>
                        <button type="button" class="color-btn service-btn-select float-end">Discover</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>