<div class="row gy-5">
    <div class="col-xl-4 col-lg-4" *ngFor="let package of dataPackages;let i = index">
        <div class="package-item">
            <div class="image-box package-picture-container">
                <div class="carousel slide carousel-fade" data-bs-ride="carousel" [attr.id]="'packagecarousel-'+i">
                    <div class="carousel-inner">
                        <div *ngFor="let image of package.packagePictures ;let j=index" class="carousel-item active"
                            data-bs-interval="4000">
                            <img src={{image}} class="package-picture d-block w-100" alt="" />
                        </div>
                    </div>
                    <div class="package-best-labels d-flex flex-wrap align-items-center gap-2">
                        <div class="package-label pack-available d-flex align-items-center gap-2">
                            <i class="icon-line-bell"></i>
                            {{package.packagedisponiblity}} offers left
                        </div>
                        <div class="package-label bestoffer" *ngIf="package.packagePrice == getMinPrice()">
                            Best Rate
                        </div>
                        <div class="package-label toprated" *ngIf="package.packageRating == getMaxRating()">
                            Top Rated
                        </div>
                        <div class="package-label promo" *ngIf="package.packagepromo.length != ''">
                            {{package.packagepromo}}
                        </div>
                    </div>
                    <div class="best-rate-notice">
                        <p class="m-0">starts from</p>
                        <div class="price"><span>$</span>250</div>
                    </div>
                    <div class="carousel-controls" *ngIf="package.packagePictures.length > 1">
                        <button class="carousel-control-prev" type="button"
                            [attr.data-bs-target]="'#packagecarousel-'+i" data-bs-slide="prev">
                            <i class="icon-line-chevron-left"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            [attr.data-bs-target]="'#packagecarousel-'+i" data-bs-slide="next">
                            <i class="icon-line-chevron-right"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="package-more-details px-3 my-3">
                <div class="d-flex flex-column justify-content-between">
                    <div class="d-flex flex-column">
                        <h5 class="package-title lh-base">{{package.packageTitle}} 
                            <div class="package-rating">
                                <ngx-stars class="lh-base" [readonly]="true" [size]="1" [maxStars]="5"
                                [initialStars]='package.packageRating' [color]="'#f4c253'"></ngx-stars>
                            </div>
                        </h5>    
                        <div class="package-details">
                            <div class="d-flex flex-wrap align-items-center gap-2">
                                <div class="package-type lh-base">
                                    <p class="m-0">{{package.packageType}}</p>
                                </div>
                                <div class="package-theme lh-base" *ngFor="let theme of package.packageTheme">
                                    <p class="m-0">{{theme}}</p>
                                </div>
                            </div> 
                        </div>
                        <hr>
                        <div class="package-details">    
                            <div class="package-place flex-wrap lh-base d-flex align-items-center gap-2 mb-1">
                                <i class="icon-line-map-pin"></i>
                                <p class="m-0 ">{{package.packagePlace}}</p>
                            </div>
                            <div class="d-flex flex-wrap align-items-center column-gap-3 row-gap-2 mb-2">    
                                <div class="package-info package-date lh-base d-flex align-items-center gap-2">
                                    <i class="icon-line-calendar"></i>
                                    <p class="m-0 ">{{package.packageDate}}</p>
                                </div>
                                <div class="package-info package-period lh-base d-flex align-items-center gap-2">
                                    <i class="icon-line-moon"></i>
                                    <p class="m-0 ">{{package.packagePeriod}} days</p>
                                </div>
                            </div>
                            <div class="package-departurecity flex-wrap lh-base d-flex align-items-center gap-2">
                                <p class="package-departurecity-label mb-0 lh-base">Departure City</p>
                                <p class="package-departurecity-text mb-0 lh-base">{{package.packageDeparturecities}}</p>
                            </div>
                            <hr>
                            <div class="package-services lh-base mb-4">
                                <div class="d-flex align-items-center mb-2 gap-1">
                                    <i class="icon-line-chevron-right"></i>
                                    <p class="package-include mb-2">Included Services</p>
                                </div>
                                <div class="d-flex flex-wrap align-items-center justify-content-start column-gap-2 row-gap-2">
                                    <div class="service-icon" *ngFor="let service of package.packageServices">
                                        <img src="assets/package/icons/flights-icon.svg" alt="" *ngIf="service == 'Flights'" />
                                        <img src="assets/package/icons/hotels-icon.svg" alt="" *ngIf="service == 'Hotels'" />
                                        <img src="assets/package/icons/transfers-icon.svg" alt="" *ngIf="service == 'Transfers'" />
                                        <img src="assets/package/icons/tours-icon.svg" alt="" *ngIf="service == 'Tours'" />
                                        <img src="assets/package/icons/extras-icon.svg" alt="" *ngIf="service == 'Extras'" />
                                        <img src="assets/package/icons/activities-icon.svg" alt="" *ngIf="service == 'Activities'" />
                                        <p class="mb-0">{{service}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>                     
                    <button type="button" class="color-btn service-btn-select float-end w-100"
                    [routerLink]="['package/'+package._id]"
                    routerLinkActive="router-link-active">Discover</button>
                </div>
            </div>
        </div>  
        
    </div>
    <div class="col-xl-4 col-lg-4 mx-auto">
        <button class="color-btn show-more w-100">Show more</button>
    </div>  
</div>
