
  <div class="row pt-5">
    <div class="col-xl-12 pt-3">
      <div class="heading-box">
        <h2 class="heading-title color-1 mb-0">Finalize your stay</h2>
      </div>
      <p>Looking forward to having you as our guest.</p>
    </div>

    <div class="col-xl-9">
      <div class="all-content-box">
          
          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">Flight Details</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label d-flex align-items-center gap-3">
                    <div>Sfax (SFA) - Jeddah (JED)</div>                
                    <p class="service-class">Economic</p>
                    <!-- <p>Round Trip</p> -->
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 lh-base mb-3">
                      <h5>Departing flight</h5>
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">14:10 - 17:55</p>
                        </div>
                      </div>  
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">08 oct. 2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos align-items-center">
                        <i class="icon-line-map-pin me-2"></i>
                        <p class="mb-0">Sfax Thyna - Terminal M</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Direct</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-briefcase me-2"></i>
                        <p class="mb-0">1 piece of checked baggage (per ad.)</p>
                      </div>
                    </div>
                    <div class="col-xl-6 lh-base mb-3 border-start">
                      <h5>Returning flight</h5>
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">14:10 - 17:55</p>
                        </div>
                      </div>  
                      <div class="room-infos align-items-center">  
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">08 oct. 2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos align-items-center">
                        <i class="icon-line-map-pin me-2"></i>
                        <p class="mb-0">Sfax Thyna - Terminal M</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Direct</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-briefcase me-2"></i>
                        <p class="mb-0">1 piece of checked baggage (per ad.)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                <button class="color-btn edit-btn mb-2">Edit</button>
                <button class="color-btn cancel-btn">Cancel</button>
              </div>  
            </div>
          </div>  
            
          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">First Destination</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label">
                    Movenpick Makkah Hajar Tower
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 mb-3">
                      <h5 class="mb-2">King junior suite partial Haram view </h5>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">5 night(s)</p>
                        </div>
                      </div>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">10/15/2023 - 10/21/2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos lh-base align-items-center">
                        <i class="icon-line-users me-2"></i>
                        <p class="mb-0">2 Adult(s), 0 child(s)</p>
                      </div>
                      <div class="room-infos lh-base align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Half pension</p>
                      </div>
                    </div>
                    <div class="col-xl-6 mb-3 border-start">
                      <h5>Ground services</h5>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">Al-Baqi</h6>
                          <div class="price"><span>$</span>60</div>
                        </div>
                        <ul class="mb-1">
                          <li>
                            <div>08/15/2022 - 08/16/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                          <li>
                            <div>08/17/2022 - 08/18/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">The Mosque of the Two Qiblahs</h6>
                          <div class="price"><span>$</span>45</div>
                        </div>
                        <ul class="mb-2">
                          <li>
                            <div>08/15/2022 - 08/16/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                  <button class="color-btn edit-btn mb-2">Edit</button>
                  <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">Second Destination</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label">
                    Movenpick Makkah Hajar Tower
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 mb-3">
                      <h5 class="mb-2">King junior suite partial Haram view </h5>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">5 night(s)</p>
                        </div>
                      </div>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">10/15/2023 - 10/21/2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos lh-base align-items-center">
                        <i class="icon-line-users me-2"></i>
                        <p class="mb-0">2 Adult(s), 0 child(s)</p>
                      </div>
                      <div class="room-infos lh-base align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Half pension</p>
                      </div>
                    </div>
                    <div class="col-xl-6 mb-3 border-start">
                      <h5>Ground services</h5>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">Al-Baqi</h6>
                          <div class="price"><span>$</span>60</div>
                        </div>
                        <ul class="mb-1">
                          <li>
                            <div>08/15/2022 - 08/16/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                          <li>
                            <div>08/17/2022 - 08/18/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">The Mosque of the Two Qiblahs</h6>
                          <div class="price"><span>$</span>45</div>
                        </div>
                        <ul class="mb-2">
                          <li>
                            <div>08/15/2022 - 08/16/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                  <button class="color-btn edit-btn mb-2">Edit</button>
                  <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">First Transfer</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label">
                    TOYOTA CAMRY
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-12 lh-base mb-3">
                      <h5>
                        Transport Details
                      </h5>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                  <button class="color-btn edit-btn mb-2">Edit</button>
                  <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

      </div>
    </div>

    <!-- Sidebar
    ============================================= -->
    <div class="col-xl-3 mb-5">
      <app-bookings-sidebar [eventgoToNextStep]="goToNextStep"></app-bookings-sidebar>
    </div>

  </div>
