
  <div class="row pt-5">
    <div class="col-xl-12 pt-3">
      <div class="heading-box">
        <h2 class="heading-title color-2 mb-0">Finalize your stay</h2>
      </div>
      <p>Looking forward to having you as our guest.</p>
    </div>

    <div class="col-xl-9">
      <div class="all-content-box">
          
          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">Flight Details</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label d-flex align-items-center">
                    <div class="me-3">Sfax - Jeddah</div>                
                    <p>Round trip</p>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 lh-base mb-3">
                      <h5>Departing flight</h5>
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">14:10 - 17:55</p>
                        </div>
                      </div>  
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">08 oct. 2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos align-items-center">
                        <i class="icon-line-users me-2"></i>
                        <p class="mb-0">2 Adult(s), 0 child(s)</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Direct</p>
                      </div>
                    </div>
                    <div class="col-xl-6 lh-base mb-3 border-start">
                      <h5>Returning flight</h5>
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">14:10 - 17:55</p>
                        </div>
                      </div>  
                      <div class="room-infos align-items-center">  
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">08 oct. 2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos align-items-center">
                        <i class="icon-line-users me-2"></i>
                        <p class="mb-0">2 Adult(s), 0 child(s)</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Direct</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                <button class="color-btn edit-btn mb-2">Edit</button>
                <button class="color-btn cancel-btn">Cancel</button>
              </div>  
            </div>
          </div>  
            
          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">First Destination</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label">
                    Movenpick Makkah Hajar Tower
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 lh-base mb-3">
                      <h5>
                        King junior suite partial Haram view 
                      </h5>
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">5 night(s)</p>
                        </div>
                      </div>
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">10/15/2023 - 10/21/2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos align-items-center">
                        <i class="icon-line-users me-2"></i>
                        <p class="mb-0">2 Adult(s), 0 child(s)</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Half pension</p>
                      </div>
                    </div>
                    <div class="col-xl-6 mb-3 border-start">
                      <h5>Ground Services</h5>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">Al-Baqi</h6>
                          <div class="price"><span>$</span>60</div>
                        </div>
                        <ul class="mb-1">
                          <li>
                            <div>08/15/2022 - 08/16/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                          <li>
                            <div>08/17/2022 - 08/18/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">The Mosque of the Two Qiblahs</h6>
                          <div class="price"><span>$</span>45</div>
                        </div>
                        <ul class="mb-2">
                          <li>
                            <div>08/15/2022 - 08/16/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                  <button class="color-btn edit-btn mb-2">Edit</button>
                  <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">Second Destination</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label">
                    Movenpick Makkah Hajar Tower
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 lh-base mb-3">
                      <h5>
                        King junior suite partial Haram view 
                      </h5>
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">5 night(s)</p>
                        </div>
                      </div>
                      <div class="room-infos align-items-center">  
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">10/15/2023 - 10/21/2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos align-items-center">
                        <i class="icon-line-users me-2"></i>
                        <p class="mb-0">2 Adult(s), 0 child(s)</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Half pension</p>
                      </div>
                    </div>
                    <div class="col-xl-6 mb-3 border-start">
                      <h5>Ground Services</h5>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">Al-Baqi</h6>
                          <div class="price"><span>$</span>60</div>
                        </div>
                        <ul class="mb-1">
                          <li>
                            <div>08/15/2022 - 08/16/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                          <li>
                            <div>08/17/2022 - 08/18/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">The Mosque of the Two Qiblahs</h6>
                          <div class="price"><span>$</span>45</div>
                        </div>
                        <ul class="mb-2">
                          <li>
                            <div>08/15/2022 - 08/16/2022</div>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                  <button class="color-btn edit-btn mb-2">Edit</button>
                  <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">First Transfer</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label">
                    TOYOTA CAMRY
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-12 lh-base mb-3">
                      <h5>
                        Transport Details
                      </h5>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                  <button class="color-btn edit-btn mb-2">Edit</button>
                  <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">Second Transfer</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label">
                    TOYOTA CAMRY
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-12 lh-base mb-3">
                      <h5>
                        Transport Details
                      </h5>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                  <button class="color-btn edit-btn mb-2">Edit</button>
                  <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

      </div>
    </div>

    <!-- Sidebar
    ============================================= -->
    <div class="col-lg-3 mb-5">
      <app-destination-sidebar-filter></app-destination-sidebar-filter>
      <div class="sidebar-widgets-wrap">
        <div class="search-sidebar-details mb-5">
          <div class="search-sidebar-header">
            <h5 class="title">Your Booking(s)</h5>
          </div>
          <div class="search-sidebar-content">
            <div class="search-sidebar-list">
              <div class="search-item">
                <div class="search-details">
                  <div class="search-details-block d-flex align-items-center">
                    <div class="search-details-block-content">
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <a
                          class="search-details-label"
                          data-bs-toggle="collapse"
                          href="#details-flight"
                          role="button"
                          aria-expanded="false"
                          aria-controls="details-flight"
                        >
                          <i class="icon-line-plus me-1"></i>Flight
                        </a>
                        <div class="search-sidebar-price"><span>$</span>125</div>
                      </div>
                      <div class="collapse details-content" id="details-flight">
                        <div class="card card-body">
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Departure</div>
                            <div>Sfax, TN</div>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Arrival</div>
                            <div>Jeddah, SA</div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <a
                          class="search-details-label"
                          data-bs-toggle="collapse"
                          href="#details-destination"
                          role="button"
                          aria-expanded="false"
                          aria-controls="details-destination"
                        >
                          <i class="icon-line-plus me-1"></i>1st destination
                        </a>
                        <div class="search-sidebar-price"><span>$</span>125</div>
                      </div>
                      <div
                        class="collapse details-content"
                        id="details-destination"
                      >
                        <div class="card card-body">
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Hotel</div>
                            <div>Swissotel Al Maqam Makkah</div>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Room</div>
                            <div>Two Bedroom Suite City View</div>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Ground Serv.</div>
                            <div>Visit to AL-BAQI</div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <a
                          class="search-details-label"
                          data-bs-toggle="collapse"
                          href="#details-destination2"
                          role="button"
                          aria-expanded="false"
                          aria-controls="details-destination2"
                        >
                          <i class="icon-line-plus me-1"></i>2nd destination
                        </a>
                        <div class="search-sidebar-price"><span>$</span>125</div>
                      </div>
                      <div
                        class="collapse details-content"
                        id="details-destination2"
                      >
                        <div class="card card-body">
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Hotel</div>
                            <div>Swissotel Al Maqam Makkah</div>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Room</div>
                            <div>Two Bedroom Suite City View</div>
                          </div>
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Ground Serv.</div>
                            <div>Visit to AL-BAQI</div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <a
                          class="search-details-label"
                          data-bs-toggle="collapse"
                          href="#details-transfer"
                          role="button"
                          aria-expanded="false"
                          aria-controls="details-transfer"
                        >
                          <i class="icon-line-plus me-1"></i>1st Transfer
                        </a>
                        <div class="search-sidebar-price"><span>$</span>125</div>
                      </div>
                      <div class="collapse details-content" id="details-transfer">
                        <div class="card card-body">
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Car</div>
                            <div>Sedan Car - Toyota Camry</div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between"
                      >
                        <a
                          class="search-details-label"
                          data-bs-toggle="collapse"
                          href="#details-transfer2"
                          role="button"
                          aria-expanded="false"
                          aria-controls="details-transfer2"
                        >
                          <i class="icon-line-plus me-1"></i>2nd Transfer
                        </a>
                        <div class="search-sidebar-price"><span>$</span>125</div>
                      </div>
                      <div
                        class="collapse details-content"
                        id="details-transfer2"
                      >
                        <div class="card card-body">
                          <div
                            class="d-flex align-items-center justify-content-between"
                          >
                            <div class="search-details-label">Car</div>
                            <div>Sedan Car - Toyota Camry</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>

          <div class="search-sidebar-footer">
            <div class="search-items-price j-block d-flex">
              <div class="search-total-label">
                Total
                <div class="price-tax">Tax included</div>
              </div>
              <div class="search-total-price"><span>$</span>1220</div>
            </div>
            <button routerLink="/result/motamar-informations" class="tab-action-btn-next color-btn w-100">
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
