
  <div class="row pt-5">
    <div class="col-xl-12 pt-3">
      <div class="heading-box">
        <h2 class="heading-title color-1 mb-0">Finalize your stay</h2>
      </div>
      <p>Looking forward to having you as our guest.</p>
    </div>

    <div class="col-xl-9">
      <div class="all-content-box">
          
          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">Flight Details</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="hotel-label d-flex align-items-center gap-3">
                    <div>Sfax (SFA) - Jeddah (JED)</div>                
                    <p class="service-class">Economic</p>
                    <!-- <p>Round Trip</p> -->
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 lh-base mb-3">
                      <div class="d-flex align-items-center justify-content-between">
                        <h5>Departing flight</h5>
                        <div class="flight-airline">
                          <img src="assets/flight/tu.webp" alt=""/>
                        </div>
                      </div>
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">14:10 - 17:55</p>
                        </div>
                      </div>  
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">08 oct. 2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos align-items-center">
                        <i class="icon-line-map-pin me-2"></i>
                        <p class="mb-0">Sfax Thyna - Terminal M</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Direct</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-briefcase me-2"></i>
                        <p class="mb-0">1 piece of checked baggage (per ad.)</p>
                      </div>
                    </div>
                    <div class="col-xl-6 lh-base mb-3 border-start">
                      <div class="d-flex align-items-center justify-content-between">
                        <h5>Returning flight</h5>
                        <div class="flight-airline">
                          <img src="assets/flight/af.webp" alt=""/>
                        </div>
                      </div>  
                      <div class="room-infos align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">14:10 - 17:55</p>
                        </div>
                      </div>  
                      <div class="room-infos align-items-center">  
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="mb-0">08 oct. 2023</p>
                        </div>  
                      </div>  
                      <div class="room-infos align-items-center">
                        <i class="icon-line-map-pin me-2"></i>
                        <p class="mb-0">Sfax Thyna - Terminal M</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Direct</p>
                      </div>
                      <div class="room-infos align-items-center">
                        <i class="icon-line-briefcase me-2"></i>
                        <p class="mb-0">1 piece of checked baggage (per ad.)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                <button class="color-btn edit-btn mb-2">Edit</button>
                <button class="color-btn cancel-btn">Cancel</button>
              </div>  
            </div>
          </div>  
            
          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">First Destination</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="d-flex align-items-start justify-content-between">
                    <div class="hotel-label">
                      Movenpick Makkah Hajar Tower
                    </div>
                    <div class="logo-container">
                      <img src="assets/package/mov.svg" alt=""/>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 mb-3">
                      <h5 class="mb-2">King junior suite partial Haram view </h5>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">5 night(s)</p>
                        </div>
                      </div>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="d-flex align-items-center gap-2 mb-0">
                            <span>01 nov. 2023</span>
                            <i class="icon-line-arrow-right"></i>
                            <span>01 nov. 2023</span>
                          </p>
                        </div>  
                      </div>  
                      <div class="room-infos lh-base align-items-center">
                        <i class="icon-line-users me-2"></i>
                        <p class="mb-0">2 Adult(s), 0 child(s)</p>
                      </div>
                      <div class="room-infos lh-base align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Half pension</p>
                      </div>
                    </div>
                    <div class="col-xl-6 mb-3 border-start">
                      <h5>Ground services</h5>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">Al-Baqi</h6>
                          <div class="price"><span>$</span>60</div>
                        </div>
                        <ul class="mb-1">
                          <li>
                            <p class="d-flex align-items-center gap-2 mb-0">
                              <span>01 nov. 2023</span>
                              <i class="icon-line-arrow-right"></i>
                              <span>01 nov. 2023</span>
                            </p>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                          <li>
                            <p class="d-flex align-items-center gap-2 mb-0">
                              <span>01 nov. 2023</span>
                              <i class="icon-line-arrow-right"></i>
                              <span>01 nov. 2023</span>
                            </p>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">The Mosque of the Two Qiblahs</h6>
                          <div class="price"><span>$</span>45</div>
                        </div>
                        <ul class="mb-2">
                          <li>
                            <p class="d-flex align-items-center gap-2 mb-0">
                              <span>01 nov. 2023</span>
                              <i class="icon-line-arrow-right"></i>
                              <span>01 nov. 2023</span>
                            </p>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                <button class="color-btn edit-btn mb-2">Edit</button>
                <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">Second Destination</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="d-flex align-items-start justify-content-between">
                    <div class="hotel-label">
                      Pullman Zamzam Madina
                    </div>
                    <div class="logo-container">
                      <img src="assets/package/pul.svg" alt=""/>
                    </div>
                  </div>  
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 mb-3">
                      <h5 class="mb-2">King junior suite partial Haram view </h5>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">5 night(s)</p>
                        </div>
                      </div>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="d-flex align-items-center gap-2 mb-0">
                            <span>01 nov. 2023</span>
                            <i class="icon-line-arrow-right"></i>
                            <span>01 nov. 2023</span>
                          </p>
                        </div>  
                      </div>  
                      <div class="room-infos lh-base align-items-center">
                        <i class="icon-line-users me-2"></i>
                        <p class="mb-0">2 Adult(s), 0 child(s)</p>
                      </div>
                      <div class="room-infos lh-base align-items-center">
                        <i class="icon-line-ribbon me-2"></i>
                        <p class="mb-0">Half pension</p>
                      </div>
                    </div>
                    <div class="col-xl-6 mb-3 border-start">
                      <h5>Ground services</h5>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">Al-Baqi</h6>
                          <div class="price"><span>$</span>60</div>
                        </div>
                        <ul class="mb-1">
                          <li>
                            <p class="d-flex align-items-center gap-2 mb-0">
                              <span>01 nov. 2023</span>
                              <i class="icon-line-arrow-right"></i>
                              <span>01 nov. 2023</span>
                            </p>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                          <li>
                            <p class="d-flex align-items-center gap-2 mb-0">
                              <span>01 nov. 2023</span>
                              <i class="icon-line-arrow-right"></i>
                              <span>01 nov. 2023</span>
                            </p>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="ground-service-detail-box">
                        <div class="ground-service-detail">
                          <h6 class="ground-service-name">The Mosque of the Two Qiblahs</h6>
                          <div class="price"><span>$</span>45</div>
                        </div>
                        <ul class="mb-2">
                          <li>
                            <p class="d-flex align-items-center gap-2 mb-0">
                              <span>01 nov. 2023</span>
                              <i class="icon-line-arrow-right"></i>
                              <span>01 nov. 2023</span>
                            </p>
                            <div class="price-sm">
                              <span>$</span>10
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                  <button class="color-btn edit-btn mb-2">Edit</button>
                  <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

          <div class="service-summary-box">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="service-label">First Transfer</h5>
                  <div class="room-price text-end"><span>$</span>300</div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="booked-room">
                  <div class="d-flex align-items-start justify-content-between">
                    <div class="hotel-label">
                      Toyota Camry
                    </div>
                    <img class="transfer-picture" src="assets/transfer/1-1.webp" alt=""/>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-xl-6 mb-3">
                      <h5 class="mb-2">Transport Details</h5>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-clock me-2"></i>
                          <p class="mb-0">48H</p>
                        </div>
                      </div>
                      <div class="room-infos lh-base align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="icon-line-calendar me-2"></i>
                          <p class="d-flex align-items-center gap-2 mb-0">
                            <span>01 nov. 2023</span>
                            <i class="icon-line-arrow-right"></i>
                            <span>01 nov. 2023</span>
                          </p>
                        </div>  
                      </div>  
                      <div class="room-infos lh-base align-items-center">
                        <i class="icon-line-users me-2"></i>
                        <p class="mb-0">5 passengers</p>
                      </div>
                    </div>
                    <div class="col-xl-6 mb-3 border-start">
                      <h5>Vehicle Options</h5>
                      <div class="service-detail-box mb-2">
                        <ul class="mb-0">
                          <li>
                            <div class="d-flex align-items-center gap-2">
                              <i class="icon-line-wifi"></i>
                              <p class="m-0">Wifi</p>
                            </div>
                          </li>
                          <li>
                            <div class="d-flex align-items-center gap-2">
                              <i class="icon-line-wind"></i>
                              <p class="m-0">Air-conditioned</p>
                            </div>
                          </li>
                          <li>
                            <div class="d-flex align-items-center gap-2">
                              <i class="icon-line-head"></i>
                              <p class="m-0">English speaking driver</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <h5>Child Seats</h5>
                      <div class="service-detail-box">
                        <ul class="mb-0">
                          <li>Infant carrier : Up to 10 kg, 6 months</li>
                          <li>Convertible seat : 9–25 kg, 0–7 years</li>
                          <li>Booster seat : 22–36 kg, 6–12 years</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 service-summary-actions pb-3">
                  <button class="color-btn edit-btn mb-2">Edit</button>
                  <button class="color-btn cancel-btn">Cancel</button>
              </div>   
            </div>
          </div>

      </div>
    </div>

    <!-- Sidebar
    ============================================= -->
    <div class="col-xl-3 mb-5">
      <app-bookings-sidebar [eventgoToNextStep]="goToNextStep"></app-bookings-sidebar>
    </div>

  </div>
