<section class="page-section-title page-title centred include-header include-topbar"
    style="background-image: url(assets/page-title-2.jpg)">
</section>

<section class="bg-pattern-2 pt-5 pb-5">
    <div class="content-wrap pt-0">
        <div id="" class="content">
            <div class="content-wrap pt-0 pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 pt-5">
                            <button class="back-link d-flex align-items-center gap-2" routerLink="/search">
                                <i class="icon-line-chevron-left"></i>
                                <p class="mb-0">Return to homepage</p>
                            </button>
                        </div>
                        <div class="col-xl-12 mb-5">
                            <app-package-search-bar></app-package-search-bar>
                        </div>
                        <div class="col-xl-12 pt-3">
                            <div class="heading-box">
                                <h2 class="heading-title color-1 mb-0">Choose a package</h2>
                            </div>
                            <p>You benefit from the best rate.</p>
                        </div>
                        <div class="col-xl-12 packages-list">
                            <app-package-item></app-package-item>
                        </div>   
                    </div>
                </div>    
            </div>
        </div>
    </div>                 
</section>