<section class="search-section-title page-title centred include-header include-topbar"
    style="background-image: url(assets/page-title-2.jpg)">
</section>

<section class="bg-pattern-2 pt-5 pb-5">
    <div class="content-wrap pt-0">
        <div id="section-room-booking" class="content">
            <div class="content-wrap pt-0 pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 pt-3">
                            <div class="heading-box">
                                <h2 class="heading-title color-1 mb-0">Choose a package</h2>
                            </div>
                            <p>You benefit from the best rate.</p>
                        </div>
                        <div class="col-xl-12 packages-list">
                            <app-hotel-package></app-hotel-package>
                        </div>   
                    </div>
                </div>    
            </div>
        </div>
    </div>                 
</section>