:root {
    --omra-gray: #828282;
    --omra-gray-rgb: 130, 130, 130;
    --omra-light-gray: #eeeeee;
    --omra-light-gray-rgb: 238, 238, 238;
    --omra-white: #ffffff;
    --omra-white-rgb: 255, 255, 255;
    --omra-third: #3d4892;
    --omra-third-rgb: 5, 0, 51;
    --omra-base: #050033;
    --omra-base-rgb: 61, 72, 148;
    --omra-second: #068484;
    --omra-second-rgb: 6, 132, 133;
    --omra-black: #1e1852;
    --omra-black-rgb: 30, 24, 82;
    --omra-extra: #e1f0f0;
    --omra-extra-rgb: 225, 240, 240;
    --omra-bdr-radius: 3px;
    --fs-10: 10px;
    --fs-11: 11px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
}

@media (hover: none) {

    .color-btn:hover, 
    .hotel-box .hotel .btn-sec .rate-btn:hover,
    .hotel-box .hotel .hotel-details-btn:hover {
        background: var(--omra-base);
        border-color: var(--omra-base);
        color: var(--omra-white);
    }

    .service-summary-box .color-btn:hover,
    app-bookings-mob .search-sidebar-details .search-sidebar-header .color-btn:hover,
    .check-form .color-btn:hover,
    .color-btn.filter-btn-mob:hover {
        background-color: var(--omra-second);
        border-color: var(--omra-second);
        color: var(--omra-white);
    }

    .service-summary-box .color-btn.cancel-btn:hover {
        background: var(--omra-black);
        border-color: var(--omra-black);
        color: var(--omra-white);
    }
}

@media (max-width: 1399px) {	
    .passengers-nbr-block {
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: start;
        flex-wrap: wrap !important;
    }
}

@media (max-width: 1199.98px) {	

    app-bookings-sidebar {
        display: none;
    }

    app-bookings-mob {
        display: block;
    }

    app-bookings-mob .search-items-price {
        padding: 6px 20px;
    }

    app-bookings-mob .search-sidebar-details .search-total-label, app-bookings-mob .search-total-price {
        font-size: 18px;
        line-height: normal;
    }

    app-bookings-mob .search-sidebar-details .search-sidebar-header .color-btn {
        font-size: 12px;
        height: 38px;
        display: flex;
        padding: 10px 13px;
        background: var(--omra-second);
        color: var(--omra-white);
        border: 0;
        align-items: center;
        justify-content: center;
    }

    app-bookings-mob .search-sidebar-details .search-sidebar-header {
        background: var(--omra-base);
        border-top: 1px solid var(--omra-light-gray);
        padding: 8px 20px;
    }

    app-bookings-mob .search-sidebar-details .search-sidebar-header a {
        color: var(--omra-white);
    }

    app-bookings-mob .search-sidebar-content {
        padding: 20px 0;
    }

    .service-summary-box .color-btn {
        width: 70%;
        padding: 7px 10px;
    }

    .booked-room .border-start {
        border: 0 !important;
    }

    .ground-service-date {
        flex: 1;
    }

    .ground-service-quantity {
        flex: 1;
    }

    .ground-service-details ul li {
        flex-direction: column;
    }

}

@media (max-width: 991.98px) {	
    .service-summary-box .color-btn {
        width: 100%;
        padding: 7px 10px;
    }

    .top-filter-section {
        flex-wrap: wrap;
    }

    .side-filter-tags {
        flex-wrap: nowrap;
    }

    .check-form .justify-content-end,
    .check-form .col-xl-4 div {
        justify-content: center;
    }
    
    .check-form .search-results-list {
        flex-direction: column;
    }
    
    .check-form .search-results-list .me-4 {
        margin-right: 0 !important;
    }
    
    .check-form .color-btn {
        margin-top: 10px;
        width: 40px;
    }
    
    .check-form .color-btn.ms-4 {
        margin-left: 0 !important;
    }

    .destination-dropdown {
        flex-direction: column;
    }

    .destination-dropdown div:first-child .border-end {
        border: 0;
    }

    .ground-services-list .ground-service {
        padding: 10px;
    }

    .booked-room {
        padding: 0px 0px 10px 0;
    }

    .room-infos:first-child {
        flex-direction: column;
    }

    .details-row {
        margin-bottom: 15px;
    }
    
    .top-filter-section button {
        width: 100%;
        padding: 0px 16px;
    }

    .room-picture-overlay {
        padding: 15px 30px;
    }

    .room-picture-icon {
        line-height: 20px;
        font-size: 20px;
    }

    .list-group-horizontal {
        flex-direction: column;
    }

    .services-list .service {
        padding: 0 100px !important;
        min-height: 372px;
    }

    .services-list .service-details {
        border-top: 2px solid var(--omra-light-gray) !important;
    }

    .services-list .service .image-box img {
        border-right: 0 !important;
    }

    .services-list .service-details {
        padding: 20px !important;
    }

    .hotel-box .hotel .hotel-content .hotel-content-bottom {
        padding: 25px 20px;
    }

    .hotel-box .hotel .hotel-content .read-btn {
        width: 100%;
    }

    .hotel-box .hotel .hotel-content .hotel-details-btn {
        background-color: var(--omra-base);
        color: var(--omra-white);
        border-right: 1px solid var(--omra-black);
    }

    .hotel-box .hotel .hotel-content .hotel-details-btn:hover {
        background-color: var(--omra-black);
        color: var(--omra-white);
    }

    .sidebar-filters-content [type="checkbox"]:checked + label, .sidebar-filters-content [type="checkbox"]:not(:checked) + label {
        font-size: var(--fs-14);
    }

    .hotel-box .hotel-details .hotel-features-content-box {
        padding: 20px 10px;
    }

    .hotel-description {
        margin-bottom: 15px;
    }

    .rooms-container .box .title {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .rooms-container .box .room-picture {
        height: 280px;
    }

    .rooms-container .box .price-content {
        display: flex !important;
        justify-content: space-between;
        padding: 0px 15px 15px 15px;
        align-items: flex-end;
    }
    
    .rooms-container .box .price-content .link .color-btn {
        padding: 10px 35px;
        font-size: 14px;
    }

    .rooms-container .reservation-details, .rooms-container .tva {
        margin-bottom: 0 !important;
    }

    .rooms-container .room-details-content .room-options .room-option {
        line-height: 5px;
    }

    .rooms-container .box .room-policy {
        margin-bottom: 25px !important;
    }

    .pension-list [type="radio"]:checked+label, .pension-list [type="radio"]:not(:checked)+label {
        margin-bottom: 0px !important;
    }

    .transfer-top-filter.top-filter-section .color-btn {
        width: 100%;
    }

    .transfer-top-filter.top-filter-section

    .room-details-content .room-options {
        display: flex !important;
        gap: 2%;
        margin-bottom: 8px !important;
    }

    .room-details-content .pension-list {
        margin-bottom: 10px !important;
        display: flex !important;
        gap: 2%;
    }

    .room-details-content .pension-list li {
        margin-bottom: 10px;
    }
    
    .rooms-container .box .price-content .price {
        font-size: 30px;
    }

    .checkout-booking-list .list-booked-room {
        padding: 0px;
        max-height: none;
    }

    .gateway-list img {
        width: 120px;
    }

    .border-start {
        border-left: 0 !important;
    }

    .border-end {
        border-right: 0 !important;
    }

    .color-btn {
        padding: 0px 30px;
        line-height: 50px;
        font-size: 14px;
    }

    .check-btn {
        padding: 0 !important;
    }

    .check-content {
        padding: 10px 0px 10px;
        border-bottom: 1px solid #E5E5E5;
    }

    .criteria-form .form-group {
        padding: 8px 0px;
    }

    .guests-inputs-container {
        left: 10px;
    }

    .search-results p {
        text-align: center !important;
    }

    .room-bill-details {
        position: relative;
        width: 100% !important;
        margin: 0px 20px;
    }

    .room-box .room .room-content .room-content-left {
        padding: 12px 30px;
        justify-content: space-between;
    }

    .room-box .room .btn-sec .read-btn {
        font-size: 14px;
        padding: 20px 30px;
        width: 100%;
        font-size: 16px;
    }

    .room-box .room .btn-sec .read-btn:first-child {
        border-right: 1px solid #c9a96a;
    }

    .room-box .room .btn-sec .read-btn {
        text-align: center;
        width: 100%;
        background: #7d6a4c;
    }

    .room-box .room .btn-sec .read-btn:hover {
        background-color: #562403;
        color: #fff;
    }

    .room-box .room .btn-sec .read-btn:hover i {
        color: #fff;
    }

    .package-box-content {
        padding: 30px 50px;
    }

}

@media (max-width: 767.98px) {
    
    .dest-1.border-end {
        border-right: 0 !important;
    }
    
    .top-filter-section .side-filter-tags {
        display: none !important;
    }

    .bookings-summary-section .all-content-box {
        background: transparent;
        padding: 0;
        box-shadow: none;
    }

    .bookings-summary-section .all-content-box .service-summary-box {
        border-color: var(--omra-white);
    }

    .footer .logo {
        text-align: center;
    }

    .hotel-features-content-limit {
        padding: 0px;
        max-height: none;
    }

    .ground-service-details {
        padding: 10px 0px 20px 0px;
    }

    .ground-service-price {
        line-height: normal;
    }

    .best-price-divider {
        display: block;
        margin: 30px 0;
    }

    .list-steps {
        flex-direction: column;
    }

    .booked-room .room-label {
        text-align: center;
        line-height: normal;
    }

    .booked-room .room-label:before {
        display: none;
    }
}


@media (max-width: 575.98px) {
    .share-modal .input-share {
        width: 100%;
        margin-bottom: 10px;
    }

    .share-modal h6 {
        margin-bottom: 10px !important;
    }

    .search-section-title.page-title {
        background-position: 42% 0%;
    }

    .owl-nav {
        display: none;
    }

    .slider .slider-caption {
        padding-top: 185px;
        padding-left: 30px;
        max-width: 270px;
    }

    .slider .slider-caption h3 {
        font-size: 18px;
        text-align: left;
    }

    .slider .slider-caption h3::before {
        height: 3px;
        width: 10px;
        margin-right: 8px;
    }

    app-search-bar {
        position: sticky;
        left: 0;
        top: 22px;
        z-index: 98;
    }

    .filter-btn-mob {
        display: block;
    }

    .check-form .search-form-edit {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0em !important;
        flex: 1;
        font-size: var(--fs-13);
    }

    .check-form .search-result-counter {
        display: none;
    }

    .check-form .color-btn {
        margin: auto 0;
        width: 40px;
    }

    .check-form .search-results-list {
        flex-direction: row !important;
        align-items: center !important;
        flex-wrap: wrap;
    }

    .carousel-inner:before {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0) 35%);
    }

    .check-form.summary-search {
        display: none !important;
    }

    .summary-search .summary-search-results {
        align-items: flex-start !important;
        gap: 1px !important;
        padding: 5px 0px;
    }

    .summary-search-label {
        border-right: 0;
        padding: 0px;
    }

    .hotel-box .hotel .notices {
        left: 0px;
        bottom: 10px;
    }

    .hotel-box .hotel .hotel-type,
    .hotel-box .hotel .available-notice {
        padding: 10px 15px;
    }

    .hotel-box .hotel .available-notice {
        border-right: 0;
    }

    .hotel-box .hotel .hotel-name {
        max-width: 270px;
    }

    .hotel-box .hotel .hotel-content .hotel-content-bottom {
        padding: 20px;
    }

    .side-filter-tags {
        flex-wrap: wrap;
    }

    app-booking-steps {
        position: sticky !important;
        top: 0 !important;
        z-index: 997 !important;
        width: 100%;
    }

    .search-sidebar-details .search-sidebar-header .color-btn {
        width: fit-content !important;
    }

    .category-list {
        flex-direction: column !important;
    }

    .list-steps-container {
        padding: 0 !important;
    }

    .list-group-item .list-item-label, .list-group-item .caret-icon {
        display: none !important;
    }

    .top-filter-section, .flight-label, .travel-method, .travel-path {
        flex-direction: column !important;
    }

    .list-steps .list-group-item {
        align-items: center !important;
        justify-content: center !important;
        padding: 15px 20px !important;
    }

    .list-group-item .custom-step-icon, .list-group-item .step-icon {
        margin-bottom: 0 !important;
    }

    .filter-list-btn {
        display: none !important;
    }

    .custom-popover {
        --bs-popover-max-width: fit-content !important;
    }

    .popover {
        width: 100% !important;   
    }

    .hotel-box .hotel .hotel-rating {
        bottom: 65px !important;
    }

    .check-form {
        padding: 10px 15px !important;
    }
    
    .check-form .search-bar-icon .rooms-icon {
        width: 12px !important;
    }

    .flight-label.d-flex.align-items-center.justify-content-between {
        align-items: flex-start !important;
    }

    .col-lg-2.d-flex.justify-content-end.flex-column.align-items-end {
        flex-direction: row !important;
    }

    .services-list .box .color-btn.service-btn-details {
        margin-bottom: 0px !important;
    }

    .services-list .box .color-btn {
        width: 50% !important;
        padding: 12px 10px !important;
    }
    
    .service-details-collapse .card .flight-details-label {
        width: 100%;
    }
    
    .d-flex.justify-content-end.align-items-center.search-results-list, .search-results p {
        font-size: var(--fs-14);
    }

    .d-flex.align-items-start.gap-3 {
        line-height: normal !important;
        flex-direction: column !important;
        gap: 0.2rem !important;
        justify-content: space-between !important;
        margin-bottom: 5px;
    }

    .col-lg-3.d-flex.justify-content-end.flex-column.align-items-end {
        flex-direction: row !important;
    }

    .service-details-collapse .card {
        padding: 15px !important;
    }

    .travel-method.d-flex.align-items-center.gap-2 {
        flex-direction: column !important;
    }

    .top-filter-section .transfer-direction-item,
    .transfer-top-filter.top-filter-section .color-btn {
        margin-bottom: 0px !important;
    }

    .transfer-top-filter.top-filter-section .color-btn {
        width: 100% !important;
        text-align: center;
    }

    .transfer-duration-filter .d-flex.align-items-center.flex-wrap.flex-grow-1.gap-2 {
        width: 100%;
    }

    .transfer-duration-filter .transfer-duration-item {
        width: 23%;
    }

    .transfer-duration-filter .add-btn {
        width: 100%;
    }

    .accordion-item ul {
        line-height: 22px;
    }

    .service-details .d-flex.align-items-center.gap-3 {
        flex-direction: column;
        gap: 0.2rem !important;
        align-items: flex-start !important;
    }

    .service-details h3 {
        font-size: var(--fs-14);
    }

    .summary-items {
        margin-bottom: 50px !important;
    }

    .category-item {
        border-top: 1px solid #eee;
    }

    .category-box:first-child .category-item {
        border-top: 0;
    }

    .criteria-form input::placeholder {
        font-size: var(--fs-14);
    }

    p {
        font-size: var(--fs-14);
    }

    .input-group span, .input-group .destination-input-content {
        font-size: var(--fs-14);
    }

    .list-item {
        font-size: var(--fs-14) !important;
    }

    .search-container .divider {
        margin: 5px auto 12px;
    }

    .color-btn {
        padding: 0px 30px;
        width: 100%;
    }

    .dropdown-btn {
        width: fit-content;
    }

    .icon-end {
        display: none;
    }

    .picker {
        width: 100% !important;
    }

    .picker:last-child {
        width: 100% !important;
    }

    .input-group-custom {
        display: none !important;
    }

    .destination-btn-content {
        flex-direction: column;
    }

    .input-group .destination-input-content {
        flex-direction: row;
    }

    .calendar .dropdown-menu.show {
        margin-top: 19px !important;
    }

    .color-btn.edit-btn {
        margin-right: 0px;
        line-height: 42px;
        margin-bottom: 0 !important;
    }

    .color-btn.cancel-btn {
        margin-left: 0px;
        line-height: 42px;
    }

    .service-summary-box .service-class {
        font-size: var(--fs-12);
    }

    .logo-container, .transfer-picture {
        display: none;
    }

    .hotel-label {
        margin-top: 5px;
    }

    .umrah-logo {
        width: 100%;
        position: relative;
        bottom: -100px;
    }

    .all-content-box {
        padding: 10px;
    }

    .service-summary-box {
        padding: 20px 20px 10px 20px;
    }

    .service-summary-box .room-price {
        margin-bottom: 0px;
    }

    .service-summary-actions {
        flex-direction: row !important;
    }

    .picker .input-group p {
        font-size: 13px;
    }

    .picker .input-group span {
        padding: 12px 10px;
    }

    .input-group p {
        letter-spacing: 0;
    }

    .ngb-dp-months {
        display: flex;
        flex-direction: column;
    }

    .room-details-content .pension-list,
    .room-details-content .room-options {
        gap: 0%;
        flex-direction: column;
    }

    .room-details-content .room-options .room-option {
        margin-bottom: 20px;
    }

    .hotel-box .carousel-controls {
        top: -10px;
        left: 10px;
    }
    
    .hotel-box .hotel .best-rate-notice {
        top: 10px;
        right: 10px;
    }

    .hotel-box .hotel .notices {
        left: 10px;
        bottom: 10px;
    }

    .hotel-box .hotel .hotel-rating {
        right: 10px;
        bottom: 10px;
    }

    .details-row .details-block {
        flex: 1;
        max-width: none;
    }

    .details-row .middle-block {
        display: none;
    }

    .services-list .service {
        padding: 0 40px !important;
        min-height: 262px;
    }

    .hotel-features-content-limit {
        padding: 0px;
        max-height: none;
    }
}

