<div class="sidebar-filters">
    <div class="sidebar-filters-header d-flex justify-content-between align-items-center">
        <h5 class="m-0">Filter Results</h5>
        <div class="">
            <button class="color-btn">Reset</button>
        </div>
    </div>
    <div class="sidebar-filters-content">
        <div class="filter-label">Price Range</div>
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
        <div class="filter-label mt-4">Star Rating</div>
        <ul class="mb-2">
            <li><div class="d-flex align-items-center"><input type="radio" id="5stars" name="rate" value="5stars" checked><label class="me-2" for="5stars"><ngx-stars [readonly]="true" [size]="1" [maxStars]="5" [initialStars]="5" [customStarIcons]="circleIcons" [color]="'#c9a96a'"></ngx-stars></label></div></li>
            <li><div class="d-flex align-items-center"><input type="radio" id="4stars" name="rate" value="4stars"><label class="me-2" for="4stars"><ngx-stars [readonly]="true" [size]="1" [maxStars]="5" [initialStars]="4" [customStarIcons]="circleIcons" [color]="'#c9a96a'"></ngx-stars></label></div></li>
            <li><div class="d-flex align-items-center"><input type="radio" id="3stars" name="rate" value="3stars"><label class="me-2" for="3stars"><ngx-stars [readonly]="true" [size]="1" [maxStars]="5" [initialStars]="3" [customStarIcons]="circleIcons" [color]="'#c9a96a'"></ngx-stars></label></div></li>
            <li><div class="d-flex align-items-center"><input type="radio" id="2stars" name="rate" value="2stars"><label class="me-2" for="2stars"><ngx-stars [readonly]="true" [size]="1" [maxStars]="5" [initialStars]="2" [customStarIcons]="circleIcons" [color]="'#c9a96a'"></ngx-stars></label></div></li>
            <li><div class="d-flex align-items-center"><input type="radio" id="1star" name="rate" value="1star"><label class="me-2" for="1star"><ngx-stars [readonly]="true" [size]="1" [maxStars]="5" [initialStars]="1" [customStarIcons]="circleIcons" [color]="'#c9a96a'"></ngx-stars></label></div></li>
          </ul>
    </div>
    
  </div>
