<div class="package-item">
    <div class="box">
        <div class="row m-0">
            <div class="col-lg-3 package ps-0">
                <div class="image-box">
                    <img src="assets/package/hotel-2/1.jpg" class="d-block w-100" alt="" />
                </div>
            </div>
            <div class="col-lg-9 package-content">
                <div class="row h-100">
                    <div class="col-lg-8">
                        <div class="package-details">
                            <h5>Miqat Taif - Umrah Package</h5>
                            <div class="hotel-rating">
                                <div class="d-flex align-items-center">
                                    <!-- <div class="hotel-rate me-2">{{hotel.rating}}</div>
                                    <div>
                                    <ngx-stars [readonly]="true" [size]="1" [maxStars]="5" [initialStars]='hotel.rating'
                                        [color]="'#f4c253'"></ngx-stars>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 border-start">
                        <div class="package-price">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
