<div class="row mt-5">
  <!-- Sidebar
  ============================================= -->
  <div class="booking-sidebar sticky-sidebar-wrap col-lg-3 mb-5">
    <div class="sidebar-widgets-wrap">
      <div class="search-sidebar-details">
        <div class="search-sidebar-header">
          <h5 class="">4 Flight(s) Found</h5>
          <p class="m-0">Matching Your Search</p>
        </div>
        <div class="search-sidebar-content">
          <div class="search-sidebar-list">
            <div class="search-item">
              <div class="search-details">
                <div class="search-details-block d-flex align-items-center">
                  <fa-icon
                    class="category-icon me-3"
                    [icon]="faPlane"
                  ></fa-icon>
                  <div class="search-details-block-right">
                    <div class="d-flex align-items-center justify-content-between"><div class="search-details-label">Departure</div><div>Sfax, TN</div></div>
                    <div class="d-flex align-items-center justify-content-between"><div class="search-details-label">Arrival</div><div>Jeddah, SA</div></div>
                    <div class="text-end">Round trip</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>

        <div class="search-sidebar-footer">
          <div class="search-items-price j-block d-flex">
            <div class="search-total-label">
              Total
              <div class="price-tax">Tax included</div>
            </div>
            <div class="search-total-price">1220<span>TND</span></div>
          </div>
          <button
            routerLink="/result/first-destination"
            class="tab-action-btn-next thm-btn w-100"
          >
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- .sidebar end -->

  <div ng-app="services-list" ng-controller="myCtrl" class="col-lg-9 services-list">
    <label class="mb-4">
        <input type="radio" name="radio" value="flightbox1" [value]="option1" [(ngModel)]="selectedOption" class="service-check-box" id="flight-box-1" disabled/>
        <div class="box">
            <div class="row m-0">
                <div class="col-lg-3 service ps-0">
                <div id="service-box-pic" class="image-box">
                    <img src="assets/tunisair.svg"class="d-block w-100" alt="" />
                </div>
                </div>
                <div class="col-lg-9 service-details">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="flight-label d-flex align-items-center">
                            <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                            Departing flight
                        </div>
                    <div class="details-row">
                        <div class="details-block">
                        <div class="time-block">
                            <span class="time">14:10</span>
                        </div>
                        <span class="port">Sfax (SFA)</span>
                        <div class="date-block">
                            <span class="date">08 oct. 2023</span>
                        </div>
                        </div>

                        <div
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center"
                        >
                        <span class="flight-duration">02:75</span>
                        <div class="flight-line-icon"></div>
                        <span class="total-stop">Direct</span>
                        <div class="flight-no">
                            <span>BJ-764</span>
                        </div>
                        </div>

                        <div class="details-block text-end">
                        <div class="time-block">
                            <span class="time">17:55</span>
                        </div>
                        <span class="port">Jeddah (JED)</span>
                        <div class="date-block">
                            <span class="date">01 nov. 2023</span>
                            <sup></sup>
                            <sup class="date-change"></sup>
                        </div>
                        </div>
                    </div>
                    <hr />
                    <div class="flight-label d-flex align-items-center">
                        <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                        Returning flight
                    </div>
                    <div class="details-row">
                        <div class="details-block">
                        <div class="time-block">
                            <span class="time">14:10</span>
                        </div>
                        <span class="port">Jeddah (JED)</span>
                        <div class="date-block">
                            <span class="date">01 nov. 2023</span>
                        </div>
                        </div>

                        <div
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center"
                        >
                        <span class="flight-duration">02:75</span>
                        <div class="flight-line-icon"></div>
                        <span class="total-stop">Direct</span>
                        <div class="flight-no">
                            <span>BJ-764</span>
                        </div>
                        </div>

                        <div class="details-block text-end">
                        <div class="time-block">
                            <span class="time">17:55</span>
                        </div>
                        <span class="port">Sfax (SFA)</span>
                        <div class="date-block">
                            <span class="date">15 nov. 2023</span>
                            <sup></sup>
                            <sup class="date-change"></sup>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end">
                        <div class="text-end mb-3">
                            <div class="service-price">1,200<span>TND</span>
                                <p class="mb-1 text-end">per motamar</p>	
                                <p class="notice mb-1">only 2 left</p>	
                            </div>
                        </div>
                    <div class="link float-end">
                        <button
                        class="thm-btn service-btn-select"
                        (click)="checkOption()"
                        >
                        Select
                        </button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </label>

    <label class="mb-4">
        <input type="radio" name="radio" value="flightbox2" [value]="option2" [(ngModel)]="selectedOption" class="service-check-box" id="flight-box-2" disabled/>
        <div class="box">
            <div class="row m-0">
                <div class="col-lg-3 service ps-0">
                <div id="service-box-pic" class="image-box">
                    <img src="assets/qatar-airways.svg"class="d-block w-100" alt="" />
                </div>
                </div>
                <div class="col-lg-9 service-details">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="flight-label d-flex align-items-center">
                            <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                            Departing flight
                        </div>
                    <div class="details-row">
                        <div class="details-block">
                        <div class="time-block">
                            <span class="time">14:10</span>
                        </div>
                        <span class="port">Sfax (SFA)</span>
                        <div class="date-block">
                            <span class="date">08 oct. 2023</span>
                        </div>
                        </div>

                        <div
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center"
                        >
                        <span class="flight-duration">02:75</span>
                        <div class="flight-line-icon"></div>
                        <span class="total-stop">1 stop</span>
                        <div class="flight-no">
                            <span>BJ-764</span>
                        </div>
                        </div>

                        <div class="details-block text-end">
                        <div class="time-block">
                            <span class="time">17:55</span>
                        </div>
                        <span class="port">Jeddah (JED)</span>
                        <div class="date-block">
                            <span class="date">01 nov. 2023</span>
                            <sup></sup>
                            <sup class="date-change"></sup>
                        </div>
                        </div>
                    </div>
                    <hr />
                    <div class="flight-label d-flex align-items-center">
                        <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                        Returning flight
                    </div>
                    <div class="details-row">
                        <div class="details-block">
                        <div class="time-block">
                            <span class="time">14:10</span>
                        </div>
                        <span class="port">Jeddah (JED)</span>
                        <div class="date-block">
                            <span class="date">01 nov. 2023</span>
                        </div>
                        </div>

                        <div
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center"
                        >
                        <span class="flight-duration">02:75</span>
                        <div class="flight-line-icon"></div>
                        <span class="total-stop">Direct</span>
                        <div class="flight-no">
                            <span>BJ-764</span>
                        </div>
                        </div>

                        <div class="details-block text-end">
                        <div class="time-block">
                            <span class="time">17:55</span>
                        </div>
                        <span class="port">Sfax (SFA)</span>
                        <div class="date-block">
                            <span class="date">15 nov. 2023</span>
                            <sup></sup>
                            <sup class="date-change"></sup>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end">
                        <div class="text-end mb-3">
                            <div class="service-price">1,200<span>TND</span>
                                <p class="mb-1 text-end">per motamar</p>	
                            </div>
                        </div>
                    <div class="link float-end">
                        <button
                        class="thm-btn service-btn-select"
                        (click)="checkOption2()"
                        >
                        Select
                        </button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </label>

    <label class="mb-4">
        <input type="radio" name="radio" value="flightbox3" [value]="option3" [(ngModel)]="selectedOption" class="service-check-box" id="flight-box-3" disabled/>
        <div class="box">
            <div class="row m-0">
                <div class="col-lg-3 service ps-0">
                <div id="service-box-pic" class="image-box">
                    <img src="assets/saudi-airlines.svg"class="d-block w-100" alt="" />
                </div>
                </div>
                <div class="col-lg-9 service-details">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="flight-label d-flex align-items-center">
                            <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                            Departing flight
                        </div>
                        <div class="details-row">
                            <div class="details-block">
                            <div class="time-block">
                                <span class="time">14:10</span>
                            </div>
                            <span class="port">Sfax (SFA)</span>
                            <div class="date-block">
                                <span class="date">08 oct. 2023</span>
                            </div>
                            </div>

                            <div
                            class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center"
                            >
                            <span class="flight-duration">02:75</span>
                            <div class="flight-line-icon"></div>
                            <span class="total-stop">2 stops</span>
                            <div class="flight-no">
                                <span>BJ-764</span>
                            </div>
                            </div>

                            <div class="details-block text-end">
                            <div class="time-block">
                                <span class="time">17:55</span>
                            </div>
                            <span class="port">Jeddah (JED)</span>
                            <div class="date-block">
                                <span class="date">01 nov. 2023</span>
                                <sup></sup>
                                <sup class="date-change"></sup>
                            </div>
                            </div>
                        </div>
                        <hr />
                        <div class="flight-label d-flex align-items-center">
                            <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                            Returning flight
                        </div>
                        <div class="details-row">
                            <div class="details-block">
                            <div class="time-block">
                                <span class="time">14:10</span>
                            </div>
                            <span class="port">Jeddah (JED)</span>
                            <div class="date-block">
                                <span class="date">01 nov. 2023</span>
                            </div>
                            </div>

                            <div
                            class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center"
                            >
                            <span class="flight-duration">02:75</span>
                            <div class="flight-line-icon"></div>
                            <span class="total-stop">1 stop</span>
                            <div class="flight-no">
                                <span>BJ-764</span>
                            </div>
                            </div>

                            <div class="details-block text-end">
                            <div class="time-block">
                                <span class="time">17:55</span>
                            </div>
                            <span class="port">Sfax (SFA)</span>
                            <div class="date-block">
                                <span class="date">15 nov. 2023</span>
                                <sup></sup>
                                <sup class="date-change"></sup>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end">
                        <div class="text-end mb-3">
                            <div class="service-price">1,200<span>TND</span>
                                <p class="mb-1 text-end">per motamar</p>
                                <p class="notice mb-1">only 1 left</p>		
                            </div>
                        </div>
                    <div class="link float-end">
                        <button
                        class="thm-btn service-btn-select"
                        (click)="checkOption3()"
                        >
                        Select
                        </button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </label>

    <label class="mb-4">
        <input type="radio" name="radio" value="flightbox4" [value]="option4" [(ngModel)]="selectedOption" class="service-check-box" id="flight-box-4" disabled/>
        <div class="box">
            <div class="row m-0">
                <div class="col-lg-3 service ps-0">
                <div id="service-box-pic" class="image-box">
                    <img src="assets/air-france.svg"class="d-block w-100" alt="" />
                </div>
                </div>
                <div class="col-lg-9 service-details">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="flight-label d-flex align-items-center">
                            <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                            Departing flight
                        </div>
                    <div class="details-row">
                        <div class="details-block">
                        <div class="time-block">
                            <span class="time">14:10</span>
                        </div>
                        <span class="port">Sfax (SFA)</span>
                        <div class="date-block">
                            <span class="date">08 oct. 2023</span>
                        </div>
                        </div>

                        <div
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center"
                        >
                        <span class="flight-duration">02:75</span>
                        <div class="flight-line-icon"></div>
                        <span class="total-stop">Direct</span>
                        <div class="flight-no">
                            <span>BJ-764</span>
                        </div>
                        </div>

                        <div class="details-block text-end">
                        <div class="time-block">
                            <span class="time">17:55</span>
                        </div>
                        <span class="port">Jeddah (JED)</span>
                        <div class="date-block">
                            <span class="date">01 nov. 2023</span>
                            <sup></sup>
                            <sup class="date-change"></sup>
                        </div>
                        </div>
                    </div>
                    <hr />
                    <div class="flight-label d-flex align-items-center">
                        <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                        Returning flight
                    </div>
                    <div class="details-row">
                        <div class="details-block">
                        <div class="time-block">
                            <span class="time">14:10</span>
                        </div>
                        <span class="port">Jeddah (JED)</span>
                        <div class="date-block">
                            <span class="date">01 nov. 2023</span>
                        </div>
                        </div>

                        <div
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center"
                        >
                        <span class="flight-duration">02:75</span>
                        <div class="flight-line-icon"></div>
                        <span class="total-stop">Direct</span>
                        <div class="flight-no">
                            <span>BJ-764</span>
                        </div>
                        </div>

                        <div class="details-block text-end">
                        <div class="time-block">
                            <span class="time">17:55</span>
                        </div>
                        <span class="port">Sfax (SFA)</span>
                        <div class="date-block">
                            <span class="date">15 nov. 2023</span>
                            <sup></sup>
                            <sup class="date-change"></sup>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end">
                        <div class="text-end mb-3">
                            <div class="service-price">1,200<span>TND</span>
                                <p class="mb-1 text-end">per motamar</p>	
                            </div>
                        </div>
                    <div class="link float-end">
                        <button
                        class="thm-btn service-btn-select"
                        (click)="checkOption4()">
                        Select
                        </button>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </label>
  </div>
</div>

<script>

</script>
