<div class="row mt-5">
  <div class="col-lg-12 pt-3 justify-content-start">
    <div class="heading-box">
      <h2 class="heading-title color-1 mb-0">Select a flight</h2>
    </div>
    <p>You benefit from the best rate.</p>
  </div>

  <div ng-app="services-list" class="col-lg-9 services-list accordion" id="accordionFlightDetails">
    <app-top-filter></app-top-filter>
    <app-flight-top-filter></app-flight-top-filter>
    <div class="flight-item" *ngFor="let flight of dataFlight;let i=index">
      <label [attr.for]="'flight-box-'+i" class="">
        <input type="radio" [attr.name]="'flightbox'+i" [value]="'flightbox'+i" [(ngModel)]="selectedFlight"
          class="service-check-box" [id]="'flight-box-'+i" disabled />
        <div class="box">
          <div class="row m-0">
            <div class="col-lg-2 service ps-0">
              <div [id]="'service-box-pic'+i" class="image-box">
                <img src="{{flight.flightImage}}" class="d-block w-100" alt="" />
              </div>
            </div>
            <div class="col-lg-10 service-details">
              <div class="row">
                <div class="col-lg-10">
                  <div class="flight-label d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                      <div class="d-flex align-items-center">
                        <i class="icon-line-chevron-right"></i>
                        <div class="flight-direction">Departure flight</div>
                      </div>
                      <div class="flight-class">{{flight.class}}</div>
                    </div>
                    <div class="service-price">
                      <span>$</span>{{flight.price}}<span class="price-text"> / motamar</span>
                    </div>
                  </div>
                  <hr>
                  <div class="details-row">
                    <div class="details-block">
                      <div class="time-block">
                        <span class="time">{{flight.timeOfDeparture}}</span>
                      </div>
                      <span class="port">{{flight.departure}}</span>
                      <div class="date-block">
                        <span class="date">{{flight.dateOfDeparture}}</span>
                      </div>
                    </div>
                    <div class="middle-block text-center w-100">
                      <span class="flight-duration">{{flight.duration}}</span>
                      <div class="transfer-line-icon">
                        <svg viewBox="0 0 820.04 695.09">
                          <path d="m811.72,389.07l-54.54-74.06c-35.41-48.08-92.19-76.79-151.91-76.79h-45.98l-85.28-178.55C456.7,23.42,419.57,0,379.4,0h-103.59l34.44,238.22h-62.05l-32.52-82.12H0l42.06,156.19.05.18c11.21,40.13,34.33,75.1,66.86,101.12,34.9,27.92,78.72,43.29,123.41,43.29h77.87l-34.44,238.21h103.59c40.17,0,77.3-23.42,94.61-59.66l85.28-178.55h218.15c16.15,0,30.7-8.95,37.99-23.36s5.86-31.44-3.71-44.44ZM322.01,40h57.39c24.84,0,47.81,14.48,58.52,36.9l77.04,161.31h-164.29l-28.66-198.22Zm115.91,578.19c-10.71,22.42-33.68,36.9-58.52,36.9h-57.39l28.66-198.21h164.29l-77.04,161.31Zm341.81-202.72c-.71,1.41-1.82,1.41-2.29,1.41H232.38c-35.64,0-70.59-12.26-98.42-34.53-25.92-20.74-44.35-48.6-53.3-80.57l-28.46-105.7h136.31l32.52,82.12h384.25c47.05,0,91.8,22.62,119.69,60.51l54.54,74.06c.28.38.94,1.27.22,2.68Z" style="stroke-width:0px;"/>
                        </svg>
                      </div>
                      <span class="total-stop">{{flight.stops}}</span>
                      <div class="flight-no">
                        <span>{{flight.flightNumber}}</span>
                      </div>
                    </div>
                    <div class="details-block text-end">
                      <div class="time-block">
                        <span class="time">{{flight.timeOfArrival}}</span>
                      </div>
                      <span class="port">{{flight.destination}}</span>
                      <div class="date-block">
                        <span class="date">{{flight.dateOfArrival}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 d-flex justify-content-end flex-column align-items-end">
                  <button class="color-btn service-btn-details collapsed mb-2" data-title="Flight details" type="button"
                    data-bs-toggle="collapse" [attr.data-bs-target]="'#flightdetails'+i"
                    (click)="collapsedDetailDeparture('detailDeparture'+i)" aria-expanded="false"
                    [attr.aria-controls]="'flightdetails'+i">
                    Details
                  </button>
                  <button class="color-btn service-btn-select collapsed" data-title="Select flight" type="button"
                    (click)="checkFlight('flightbox'+i)" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#return-flights-list'+i" aria-expanded="false"
                    [attr.aria-controls]="'return-flights-list'+i">
                    Select
                  </button>
                </div>
                <div class="col-xl-12 accordion-item">
                  <div class="accordion-collapse collapse" [class.show]="selectedDetailDeparture ==='detailDeparture'+i"
                    [attr.id]="'flightdetails'+i" [attr.aria-labelledby]="'flightdetails'+i"
                    data-bs-parent="#accordionFlightDetails">
                    <div class="service-details-collapse mt-3">
                      <div class="card card-body">
                        <div class="d-flex align-items-start gap-3">
                          <div class="flight-details-label">
                            <div class="d-flex align-items-center">
                              <i class="color-2 icon-line-star me-2"></i>
                              <div>Class</div>
                            </div>
                          </div>
                          <div class="">Economic</div>
                        </div>
                        <div class="gap-2">
                          <div class="d-flex align-items-start gap-3">
                            <div class="flight-details-label">
                              <div class="d-flex align-items-center">
                                <i class="color-2 icon-line-calendar me-2"></i>
                                <div>Date</div>
                              </div>
                            </div>
                            <div class="">Mercredi 01 novembre 2023</div>
                          </div>
                          <div class="d-flex align-items-start gap-3">
                            <div class="flight-details-label">
                              <div class="d-flex align-items-center">
                                <i class="color-2 icon-line-calendar me-2"></i>
                                <div>Flight Number</div>
                              </div>
                            </div>
                            <div class="">TU0606</div>
                          </div>
                          <div class="d-flex align-items-start gap-3">
                            <div class="flight-details-label">
                              <div class="d-flex align-items-center">
                                <i class="color-2 icon-line-clock me-2"></i>
                                <div>Departure</div>
                              </div>
                            </div>
                            <div>15:10</div>
                            <div class="country-abr">TUN</div>
                            <div>Tunis Carthage - Terminal M</div>
                          </div>
                          <div class="flight-stops-details">
                            2 stops through France and Egypt 
                          </div>
                          <div class="d-flex align-items-start gap-3">
                            <div class="flight-details-label">
                              <div class="d-flex align-items-center">
                                <i class="color-2 icon-line-clock me-2"></i>
                                <div>Arrival</div>
                              </div>
                            </div>
                            <div>15:10</div>
                            <div class="country-abr">TUN</div>
                            <div>Tunis Carthage - Terminal M</div>
                          </div>
                          <div class="d-flex align-items-start gap-3">
                            <div class="flight-details-label">
                              <div class="d-flex align-items-center">
                                <i class="color-2 icon-line-clock me-2"></i>
                                <div>Duration</div>
                              </div>
                            </div>
                            <div>15:10</div>
                          </div>
                          <div class="d-flex align-items-start gap-3">
                            <div class="flight-details-label">
                              <div class="d-flex align-items-center">
                                <i class="color-2 icon-line-briefcase me-2"></i>
                                <div>Baggage</div>
                              </div>
                            </div>
                            <div>1 piece of checked baggage (per ad.)</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>

      <div [attr.id]="'return-flights-list'+i" class="collapse">
        <div id="flights-back" class="sub-service-list accordion">
          <div class="subservice-list-title mb-2">Choose the return flight</div>
          <div *ngFor="let returnFlight of dataFlight[i].flightReturns;let j = index">
            <label [attr.for]="'flightback'+j" class="subservice-item mb-2">
              <input type="radio" [attr.name]="'flightback'+j" [value]="'flightback'+j" [(ngModel)]="selectedFlightBack"
                class="service-check-box" [attr.id]="'flightback'+j" disabled />
              <div class="box">
                <div class="row m-0">
                  <div class="col-lg-2 service ps-0">
                    <div id="service-box-pic" class="image-box">
                      <img src="{{returnFlight.flightImage}}" class="d-block w-100" alt="" />
                    </div>
                  </div>
                  <div class="col-lg-10 service-details">
                    <div class="row">
                      <div class="col-lg-9">
                        <div class="flight-label d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center">
                              <i class="icon-line-chevron-right"></i>
                              <div class="flight-direction">Return flight</div>
                            </div>
                            <div class="flight-class">{{returnFlight.class}}</div>
                          </div>
                          <div class="service-price">
                            <span>$</span>{{returnFlight.price}}<span class="price-text"> / motamar</span>
                          </div>
                        </div>
                        <hr>
                        <div class="details-row">
                          <div class="details-block">
                            <div class="time-block">
                              <span class="time">{{returnFlight.timeOfDeparture}}</span>
                            </div>
                            <span class="port">{{returnFlight.departure}}</span>
                            <div class="date-block">
                              <span class="date">{{returnFlight.dateOfDeparture}}</span>
                            </div>
                          </div>
                          <div class="middle-block text-center w-100">
                            <span class="flight-duration">{{returnFlight.duration}}</span>
                            <div class="flight-line-icon"></div>
                            <span class="total-stop">{{returnFlight.stops}}</span>
                            <div class="flight-no">
                              <span>{{returnFlight.flightNumber}}</span>
                            </div>
                          </div>
                          <div class="details-block text-end">
                            <div class="time-block">
                              <span class="time">{{returnFlight.timeOfArrival}}</span>
                            </div>
                            <span class="port">{{returnFlight.destination}}</span>
                            <div class="date-block">
                              <span class="date">{{returnFlight.dateOfArrival}}</span>
                              <sup></sup>
                              <sup class="date-change"></sup>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-3 d-flex justify-content-end flex-column align-items-end">
                        <button class="color-btn service-btn-details mb-2" data-title="Flight details" type="button"
                          (click)="collapsedDetailReturn('detailReturn'+j)" data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#flightbackdetails'+j" aria-expanded="false"
                          [attr.aria-controls]="'flightbackdetails'+j">
                          Details
                        </button>
                        <button class="color-btn service-btn-select" data-title="Select flight" type="button"
                          (click)="checkFlightBack('flightback'+j)">
                          Select
                        </button>
                      </div>

                      <div class="col-xl-12 accordion-item">
                        <div class="accordion-collapse collapse" [attr.aria-labelledby]="'flightbackdetails'+j"
                          [attr.data-bs-parent]="'#flights-back'+j"
                          [class.show]="selectedDetailReturn ==='detailReturn'+j" [attr.id]="'flightbackdetails'+j">
                          <div class="service-details-collapse mt-3">
                            <div class="card card-body">
                              <div class="d-flex align-items-start gap-3">
                                <div class="flight-details-label">
                                  <div class="d-flex align-items-center">
                                    <i class="color-2 icon-line-star me-2"></i>
                                    <div>Class</div>
                                  </div>
                                </div>
                                <div class="">{{returnFlight.class}}</div>
                              </div>
                              <div class="d-flex gap-2">
                                <div class="d-flex align-items-start gap-3">
                                  <div class="flight-details-label">
                                    <div class="d-flex align-items-center">
                                      <i class="color-2 icon-line-calendar me-2"></i>
                                      <div>Date</div>
                                    </div>
                                  </div>
                                  <div class="">Mercredi 01 novembre 2023</div>
                                </div>
                                <div class="">Tunisair - TU0606 - Airbus A320-200 Ceo</div>
                              </div>
                              <div class="">
                                <div class="d-flex align-items-start gap-3">
                                  <div class="flight-details-label">
                                    <div class="d-flex align-items-center">
                                      <i class="color-2 icon-line-clock me-2"></i>
                                      <div>Departure</div>
                                    </div>
                                  </div>
                                  <div>15:10</div>
                                  <div class="country-abr">TUN</div>
                                  <div>Tunis Carthage - Terminal M</div>
                                </div>
                                <div class="d-flex align-items-start gap-3">
                                  <div class="flight-details-label">
                                    <div class="d-flex align-items-center">
                                      <i class="color-2 icon-line-clock me-2"></i>
                                      <div>Arrival</div>
                                    </div>
                                  </div>
                                  <div>15:10</div>
                                  <div class="country-abr">TUN</div>
                                  <div>Tunis Carthage - Terminal M</div>
                                </div>
                                <div class="d-flex align-items-start gap-3">
                                  <div class="flight-details-label">
                                    <div class="d-flex align-items-center">
                                      <i class="color-2 icon-line-clock me-2"></i>
                                      <div>Duration</div>
                                    </div>
                                  </div>
                                  <div>15:10</div>
                                </div>
                                <div class="d-flex align-items-start gap-3">
                                  <div class="flight-details-label">
                                    <div class="d-flex align-items-center">
                                      <i class="color-2 icon-line-briefcase me-2"></i>
                                      <div>Baggage</div>
                                    </div>
                                  </div>
                                  <div>1 piece of checked baggage (per ad.)</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>

          <!-- <div class="w-100">
            <button class="color-btn more-btn">Load More</button>
          </div> -->
        </div>
      </div>
      <div class="clear-area"></div>
    </div>

  </div>
  <!-- Sidebar
  ============================================= -->
  <div class="col-lg-3 mb-5">
    <app-bookings-sidebar [eventgoToNextStep]="goToNextStep"></app-bookings-sidebar>
  </div>
  <!-- .sidebar end -->
  <app-flight-sidebar-filter></app-flight-sidebar-filter>

</div>
<div class="filter-list-btn">
  <button class="color-btn" data-title="Filter Results" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#flightfilter" aria-controls="flightfilter">
    <svg viewBox="0 0 608 592.12">
      <path
        d="m253.44,78.88C246.29,34.23,207.51,0,160.88,0s-85.42,34.23-92.57,78.88H18.75c-10.36,0-18.75,8.39-18.75,18.75h0c0,10.36,8.39,18.75,18.75,18.75h51.14c10.15,40.8,47.09,71.12,90.98,71.12s80.83-30.33,90.98-71.12h337.39c10.36,0,18.75-8.39,18.75-18.75h0c0-10.36-8.39-18.75-18.75-18.75H253.44Zm-92.57,71.12c-31.02,0-56.25-25.23-56.25-56.25s25.23-56.25,56.25-56.25,56.25,25.23,56.25,56.25-25.23,56.25-56.25,56.25Z"
        style="stroke-width:0px;" />
      <path
        d="m462.62,204.25c-45.27,0-83.15,32.26-91.87,75H18.75c-10.36,0-18.75,8.39-18.75,18.75h0c0,10.36,8.39,18.75,18.75,18.75h352.01c8.71,42.74,46.59,75,91.87,75s83.15-32.26,91.87-75h34.76c10.36,0,18.75-8.39,18.75-18.75h0c0-10.36-8.39-18.75-18.75-18.75h-34.76c-8.71-42.74-46.59-75-91.87-75Zm0,150c-31.02,0-56.25-25.23-56.25-56.25s25.23-56.25,56.25-56.25,56.25,25.23,56.25,56.25-25.23,56.25-56.25,56.25Z"
        style="stroke-width:0px;" />
      <path
        d="m266.5,404.62c-45.27,0-83.15,32.26-91.86,75H18.75c-10.36,0-18.75,8.39-18.75,18.75h0c0,10.36,8.39,18.75,18.75,18.75h155.89c8.71,42.74,46.59,75,91.86,75s83.15-32.26,91.87-75h230.88c10.36,0,18.75-8.39,18.75-18.75h0c0-10.36-8.39-18.75-18.75-18.75h-230.88c-8.71-42.74-46.59-75-91.87-75Zm3.68,149.88c-33.91,2.17-61.98-25.9-59.81-59.81,1.79-28.03,24.43-50.67,52.45-52.46,33.91-2.17,61.98,25.9,59.81,59.81-1.79,28.03-24.43,50.67-52.45,52.46Z"
        style="stroke-width:0px;" />
    </svg>
  </button>
</div>