<div class="row mt-5">
  <div class="col-lg-12 pt-3 justify-content-start">
    <div class="heading-box">
      <h2 class="heading-title color-2 mb-0">Select a flight</h2>
    </div>
    <p>You benefit from the best rate.</p>
  </div>
  <div ng-app="services-list" class="col-lg-9 services-list">
    <label class="mb-4">
      <input type="radio" name="radio" value="flightbox1" [(ngModel)]="selectedFlight" class="service-check-box"
        id="flight-box-1" disabled />
      <div class="box">
        <div class="row m-0">
          <div class="col-lg-3 service ps-0">
            <div id="service-box-pic" class="image-box">
              <img src="assets/flight/tunisair.svg" class="d-block w-100" alt="" />
            </div>
          </div>
          <div class="col-lg-9 service-details">
            <div class="row">
              <div class="col-lg-9">
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Departing flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">08 oct. 2023</span>
                    </div>
                  </div>

                  <div class="middle-block text-center w-100">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">Direct</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Returning flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                    </div>
                  </div>

                  <div class="middle-block text-center w-100">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">Direct</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">15 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end pt-4">
                <div class="text-end mb-3">
                  <div class="service-price">
                    <span>$</span>1,200
                    <p class="mb-1 text-end">per motamar</p>
                    <p class="notice mb-1">only 2 left</p>
                  </div>
                </div>
                <div class="link float-end">
                  <button class="color-btn service-btn-select" (click)="checkFlight('flightbox1')">
                    Select
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </label>

    <label class="mb-4">
      <input type="radio" name="radio" value="flightbox2" [(ngModel)]="selectedFlight" class="service-check-box"
        id="flight-box-2" disabled />
      <div class="box">
        <div class="row m-0">
          <div class="col-lg-3 service ps-0">
            <div id="service-box-pic" class="image-box">
              <img src="assets/flight/qatar-airways.svg" class="d-block w-100" alt="" />
            </div>
          </div>
          <div class="col-lg-9 service-details">
            <div class="row">
              <div class="col-lg-9">
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Departing flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">08 oct. 2023</span>
                    </div>
                  </div>

                  <div class="middle-block text-center w-100">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">1 stop</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Returning flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                    </div>
                  </div>

                  <div class="middle-block text-center w-100">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">Direct</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">15 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end pt-4">
                <div class="text-end mb-3">
                  <div class="service-price">
                    <span>$</span>1,200
                    <p class="mb-1 text-end">per motamar</p>
                  </div>
                </div>
                <div class="link float-end">
                  <button class="color-btn service-btn-select" (click)="checkFlight('flightbox2')">
                    Select
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </label>

    <label class="mb-4">
      <input type="radio" name="radio" value="flightbox3" [(ngModel)]="selectedFlight" class="service-check-box"
        id="flight-box-3" disabled />
      <div class="box">
        <div class="row m-0">
          <div class="col-lg-3 service ps-0">
            <div id="service-box-pic" class="image-box">
              <img src="assets/flight/saudi-airlines.svg" class="d-block w-100" alt="" />
            </div>
          </div>
          <div class="col-lg-9 service-details">
            <div class="row">
              <div class="col-lg-9">
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Departing flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">08 oct. 2023</span>
                    </div>
                  </div>

                  <div class="middle-block text-center w-100">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">2 stops</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Returning flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                    </div>
                  </div>

                  <div class="middle-block text-center w-100">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">1 stop</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">15 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end pt-4">
                <div class="text-end mb-3">
                  <div class="service-price">
                    <span>$</span>1,200
                    <p class="mb-1 text-end">per motamar</p>
                    <p class="notice mb-1">only 1 left</p>
                  </div>
                </div>
                <div class="link float-end">
                  <button class="color-btn service-btn-select" (click)="checkFlight('flightbox3')">
                    Select
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </label>

    <label class="mb-4">
      <input type="radio" name="radio" value="flightbox4" [(ngModel)]="selectedFlight" class="service-check-box"
        id="flight-box-4" disabled />
      <div class="box">
        <div class="row m-0">
          <div class="col-lg-3 service ps-0">
            <div id="service-box-pic" class="image-box">
              <img src="assets/flight/air-france.svg" class="d-block w-100" alt="" />
            </div>
          </div>
          <div class="col-lg-9 service-details">
            <div class="row">
              <div class="col-lg-9">
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Departing flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">08 oct. 2023</span>
                    </div>
                  </div>

                  <div class="middle-block text-center w-100">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">Direct</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Returning flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                    </div>
                  </div>

                  <div class="middle-block text-center w-100">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">Direct</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">15 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end pt-4">
                <div class="text-end mb-3">
                  <div class="service-price">
                    <span>$</span>1,200
                    <p class="mb-1 text-end">per motamar</p>
                  </div>
                </div>
                <div class="link float-end">
                  <button class="color-btn service-btn-select" (click)="checkFlight('flightbox4')">
                    Select
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </label>

    <label class="mb-4">
      <input type="radio" name="radio" value="flightbox5" [(ngModel)]="selectedFlight" class="service-check-box"
        id="flight-box-5" disabled />
      <div class="box">
        <div class="row m-0">
          <div class="col-lg-3 service ps-0">
            <div id="service-box-pic" class="image-box">
              <img src="assets/flight/tunisair.svg" class="d-block w-100" alt="" />
            </div>
          </div>
          <div class="col-lg-9 service-details">
            <div class="row">
              <div class="col-lg-9">
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Departing flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">08 oct. 2023</span>
                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">Direct</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Returning flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">Direct</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">15 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end pt-4">
                <div class="text-end mb-3">
                  <div class="service-price">
                    <span>$</span>1,200
                    <p class="mb-1 text-end">per motamar</p>
                    <p class="notice mb-1">only 2 left</p>
                  </div>
                </div>
                <div class="link float-end">
                  <button class="color-btn service-btn-select" (click)="checkFlight('flightbox5')">
                    Select
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </label>

    <label class="mb-4">
      <input type="radio" name="radio" value="flightbox6" [(ngModel)]="selectedFlight" class="service-check-box"
        id="flight-box-6" disabled />
      <div class="box">
        <div class="row m-0">
          <div class="col-lg-3 service ps-0">
            <div id="service-box-pic" class="image-box">
              <img src="assets/flight/qatar-airways.svg" class="d-block w-100" alt="" />
            </div>
          </div>
          <div class="col-lg-9 service-details">
            <div class="row">
              <div class="col-lg-9">
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Departing flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">08 oct. 2023</span>
                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">1 stop</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="flight-label d-flex align-items-center">
                  <fa-icon class="result-icon" [icon]="faCaretRight"></fa-icon>
                  Returning flight
                </div>
                <div class="details-row">
                  <div class="details-block">
                    <div class="time-block">
                      <span class="time">14:10</span>
                    </div>
                    <span class="port">Jeddah (JED)</span>
                    <div class="date-block">
                      <span class="date">01 nov. 2023</span>
                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middle-block text-center">
                    <span class="flight-duration">02:75</span>
                    <div class="flight-line-icon"></div>
                    <span class="total-stop">Direct</span>
                    <div class="flight-no">
                      <span>BJ-764</span>
                    </div>
                  </div>

                  <div class="details-block text-end">
                    <div class="time-block">
                      <span class="time">17:55</span>
                    </div>
                    <span class="port">Sfax (SFA)</span>
                    <div class="date-block">
                      <span class="date">15 nov. 2023</span>
                      <sup></sup>
                      <sup class="date-change"></sup>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 d-flex justify-content-between flex-column align-items-end pt-4">
                <div class="text-end mb-3">
                  <div class="service-price">
                    <span>$</span>1,200
                    <p class="mb-1 text-end">per motamar</p>
                  </div>
                </div>
                <div class="link float-end">
                  <button class="color-btn service-btn-select" (click)="checkFlight('flightbox6')">
                    Select
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </label>
  </div>
  <!-- Sidebar
  ============================================= -->
  <div class="col-lg-3 mb-5">
    <app-bookings-sidebar [eventgoToNextStep]="goToNextStep"></app-bookings-sidebar>
  </div>
  <!-- .sidebar end -->
  <app-flight-sidebar-filter></app-flight-sidebar-filter>

</div>
<div class="filter-list-btn">
  <button class="color-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#flightfilter" aria-controls="flightfilter">
    <svg viewBox="0 0 608 592.12">
      <path d="m253.44,78.88C246.29,34.23,207.51,0,160.88,0s-85.42,34.23-92.57,78.88H18.75c-10.36,0-18.75,8.39-18.75,18.75h0c0,10.36,8.39,18.75,18.75,18.75h51.14c10.15,40.8,47.09,71.12,90.98,71.12s80.83-30.33,90.98-71.12h337.39c10.36,0,18.75-8.39,18.75-18.75h0c0-10.36-8.39-18.75-18.75-18.75H253.44Zm-92.57,71.12c-31.02,0-56.25-25.23-56.25-56.25s25.23-56.25,56.25-56.25,56.25,25.23,56.25,56.25-25.23,56.25-56.25,56.25Z" style="stroke-width:0px;"/>
      <path d="m462.62,204.25c-45.27,0-83.15,32.26-91.87,75H18.75c-10.36,0-18.75,8.39-18.75,18.75h0c0,10.36,8.39,18.75,18.75,18.75h352.01c8.71,42.74,46.59,75,91.87,75s83.15-32.26,91.87-75h34.76c10.36,0,18.75-8.39,18.75-18.75h0c0-10.36-8.39-18.75-18.75-18.75h-34.76c-8.71-42.74-46.59-75-91.87-75Zm0,150c-31.02,0-56.25-25.23-56.25-56.25s25.23-56.25,56.25-56.25,56.25,25.23,56.25,56.25-25.23,56.25-56.25,56.25Z" style="stroke-width:0px;"/>
      <path d="m266.5,404.62c-45.27,0-83.15,32.26-91.86,75H18.75c-10.36,0-18.75,8.39-18.75,18.75h0c0,10.36,8.39,18.75,18.75,18.75h155.89c8.71,42.74,46.59,75,91.86,75s83.15-32.26,91.87-75h230.88c10.36,0,18.75-8.39,18.75-18.75h0c0-10.36-8.39-18.75-18.75-18.75h-230.88c-8.71-42.74-46.59-75-91.87-75Zm3.68,149.88c-33.91,2.17-61.98-25.9-59.81-59.81,1.79-28.03,24.43-50.67,52.45-52.46,33.91-2.17,61.98,25.9,59.81,59.81-1.79,28.03-24.43,50.67-52.45,52.46Z" style="stroke-width:0px;"/>
  </svg>
  </button>
</div>