<app-package-calender-header [(view)]="view" [(viewDate)]="viewDate">
</app-package-calender-header>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{day.badgeTotal}}</span>
    <span class="cal-day-number">{{day.date | calendarDate:'monthViewDayNumber':locale}}</span>
    <span class="cal-day-number">{{day.title}}</span>
  </div>
  <ul>
    <li *ngFor="let event of day.events">
      <div class="d-flex flex-column">
        <span class="price-start lh-base">Starts from</span>
        <p class="mb-0 lh-base"><span>$</span>{{ event.title }}</p>
      </div>
    </li>
  </ul>
</ng-template>

<mwl-calendar-month-view [view]="view" [viewDate]="viewDate" [events]="events"
  [cellTemplate]="customCellTemplate">
</mwl-calendar-month-view>
