<div class="sidebar-filters">
    <div class="sidebar-filters-header d-flex justify-content-between align-items-center">
        <h5 class="m-0">Filter Results</h5>
        <div class="">
            <button class="color-btn">Reset</button>
        </div>
    </div>
    <div class="sidebar-filters-content">
        <div class="filter-label">Price Range</div>
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
        <div class="filter-label mt-4">Stopovers</div>
        <ul class="mb-2">
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="directflight" name="flightstepover" value="directflight" checked><label class="me-2" for="directflight">Direct flight</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="1stopover" name="flightstepover" value="1stopover"><label class="me-2" for="1stopover">1 stopover</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="2stopovers" name="flightstepover" value="2stopovers"><label class="me-2" for="2stopovers">2 stopovers</label></div></li>
        </ul>
        <div class="filter-label mt-4">Airline company</div>
        <ul class="mb-2">
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="Tunisair" name="airlinecorp" value="Tunisair" checked><label class="me-2" for="Tunisair">Tunisair</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="Nouvelair" name="airlinecorp" value="Nouvelair"><label class="me-2" for="Nouvelair">Nouvelair</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="airFrance" name="airlinecorp" value="airFrance"><label class="me-2" for="airFrance">Air France</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="qatarairway" name="airlinecorp" value="qatarairway"><label class="me-2" for="qatarairway">Qatar Airway</label></div></li>
        </ul>
        <div class="filter-label mt-4">Classes</div>
        <ul class="mb-2">
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="economic" name="classes" value="economic" checked><label class="me-2" for="economic">Economic</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="business" name="classes" value="Nouvelair"><label class="me-2" for="business">Business</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="first" name="classes" value="first"><label class="me-2" for="first">First</label></div></li>
        </ul>
        <div class="filter-label mt-4">Departure time</div>
        <ul class="mb-2">
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="time1" name="departuretime" value="time1" checked><label class="me-2" for="time1">00:00 - 04:59</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="time2" name="departuretime" value="time2"><label class="me-2" for="time2">05:00 - 11:59</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="time3" name="departuretime" value="time3"><label class="me-2" for="time3">17:00 - 23:59</label></div></li>
        </ul>
        <div class="filter-label mt-4">Arrival time</div>
        <ul class="mb-2">
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="time4" name="arrivaltime" value="time4" checked><label class="me-2" for="time4">05:00 - 11:59</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="time5" name="arrivaltime" value="time5"><label class="me-2" for="time5">12:00 - 16:59</label></div></li>
            <li><div class="d-flex align-items-center mb-2"><input type="checkbox" id="time6" name="arrivaltime" value="time6"><label class="me-2" for="time6">17:00 - 23:59</label></div></li>
        </ul>
    </div>
    
  </div>
