<section class="search-section">
    <div class="container">
        <div class="search-category">
            <div class="d-flex">
                <div class="d-flex category-item">
                    <i class="bi bi-diamond-fill me-3"></i>
                    <div class="">Hotels</div>
                </div>
                <div class="d-flex category-item active-category">
                    <i class="bi bi-diamond-fill me-3"></i>
                    <div class="">Umrah</div>
                </div>
                <div class="d-flex category-item">
                    <i class="bi bi-diamond-fill me-3"></i>
                    <div class="">Flights</div>
                </div>
                <div class="d-flex category-item">
                    <i class="bi bi-diamond-fill me-3"></i>
                    <div class="">Forms</div>
                </div>
                <div class="d-flex category-item">
                    <i class="bi bi-diamond-fill me-3"></i>
                    <div class="">Activities</div>
                </div>
                
            </div>
        </div>
        <div class="search-container d-flex flex-column">
            <div class="d-flex mb-4">
                <div class="category-btn">
                    <input type="radio" name="omraType" value="package" id="package"
                        class="form-check-input me-2 d-none" (change)="onChangeType()" [(ngModel)]="omraType"
                        checked="omraType=='package'" />
                    <label for="package" [class.category-active]="omraType=='package'" class="">Umrah package</label>
                </div>
                <div class="category-btn">
                    <input type="radio" name="omraType" value="map" id="map" class="form-check-input me-2 d-none"
                        (change)="onChangeType()" [(ngModel)]="omraType" checked="omraType=='map'" />
                    <label for="map" [class.category-active]="omraType=='map'">Umrah on map</label>
                </div>
            </div>
            <form *ngIf="searchFormPackage && omraType == 'package'" [formGroup]="searchFormPackage" class="first-tab">
                <div class="">
                    <div class="row">
                        <!-- Destination -->
                        <div class="col-lg-4 d-flex mb-3">
                            <div class="dropdown w-100">
                                <button [class.selected-item]="searchFormPackage.value.departureCity"
                                    class="btn btn-dark w-100" type="button" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                    <div class="d-flex me-4 justify-content-between w-100">
                                        <div class="d-flex">
                                            <i class="bi bi-geo-alt-fill me-3"></i>
                                            <p class="m-0" *ngIf="searchFormPackage.value.departureCity">
                                                {{ searchFormPackage.value.departureCity }}
                                            </p>
                                            <p class="m-0 text-muted" *ngIf="!searchFormPackage.value.departureCity">
                                                Destination
                                            </p>
                                        </div>
                                        <i class="bi bi-chevron-down"></i>
                                    </div>
                                </button>
                                <div class="dropdown-menu p-3 animate slideIn">
                                    <div class="select-container">
                                        <label for="Tunis" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="departureCity"
                                                id="Tunis" value="Tunis" formControlName="departureCity" />
                                            <div class="list-item">Tunis</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Djerba" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="departureCity"
                                                id="Djerba" value="Djerba" formControlName="departureCity" />
                                            <div class="list-item">Djerba</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Period -->
                        <div class="col-lg-4 d-flex mb-3">
                            <div class="dropdown w-100">
                                <button [class.selected-item]="searchFormPackage.value.period" class="btn w-100"
                                    type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                    aria-expanded="false">
                                    <div class="d-flex me-4 justify-content-between w-100">
                                        <div class="d-flex">
                                            <i class="bi bi-calendar2-fill me-3"></i>
                                            <p class="m-0" *ngIf="searchFormPackage.value.period">
                                                {{ searchFormPackage.value.period }}
                                            </p>
                                            <p class="m-0 text-muted" *ngIf="!searchFormPackage.value.period">
                                                Period
                                            </p>
                                        </div>
                                        <i class="bi bi-chevron-down"></i>
                                    </div>
                                </button>
                                <div class="dropdown-menu p-3 animate slideIn">
                                    <div class="select-container">
                                        <label for="Mouled" class="me-3 w-100">
                                            <input type="radio" name="period" class="form-check-input me-2" id="Mouled"
                                                value="Mouled" formControlName="period" />
                                            <div class="list-item">Mouled</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Ramadan" class="me-3 w-100">
                                            <input type="radio" name="period" class="form-check-input me-2" id="Ramadan"
                                                value="Ramadan" formControlName="period" />
                                            <div class="list-item">Ramadan</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Chawel" class="me-3 w-100">
                                            <input type="radio" name="period" class="form-check-input me-2" id="Chawel"
                                                value="Chawel" formControlName="period" />
                                            <div class="list-item">Chawel</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Winter holidays" class="me-3 w-100">
                                            <input type="radio" name="period" class="form-check-input me-2"
                                                id="Winter holidays" value="Winter holidays" formControlName="period" />
                                            <div class="list-item">Winter holidays</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Vacancy Spring" class="me-3 w-100">
                                            <input type="radio" name="period" class="form-check-input me-2"
                                                id="Vacancy Spring" value="Vacancy Spring" formControlName="period" />
                                            <div class="list-item">Spring holidays</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Other" class="me-3 w-100">
                                            <input type="radio" name="period" class="form-check-input me-2" id="Other"
                                                value="Other" formControlName="period" />
                                            <div class="list-item">Other</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Duration -->
                        <div class="col-lg-4 d-flex mb-3">
                            <div class="dropdown w-100">
                                <button [class.selected-item]="searchFormPackage.value.duration" class="btn w-100"
                                    type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                    aria-expanded="false">
                                    <div class="d-flex me-4 justify-content-between w-100">
                                        <div class="d-flex">
                                            <i class="bi bi-clock-fill me-3"></i>
                                            <p class="m-0" *ngIf="searchFormPackage.value.duration">
                                                {{ searchFormPackage.value.duration + " days" }}
                                            </p>
                                            <p class="m-0 text-muted" *ngIf="!searchFormPackage.value.duration">
                                                Duration
                                            </p>
                                        </div>
                                        <i class="bi bi-chevron-down"></i>
                                    </div>
                                </button>
                                <div class="dropdown-menu p-3 animate slideIn">
                                    <div class="select-container">
                                        <label for="15 days" class="me-3 w-100">
                                            <input type="radio" name="duration" class="form-check-input me-2"
                                                id="15 days" value="15" formControlName="duration" />
                                            <div class="list-item">15 days</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="10 days" class="me-3 w-100">
                                            <input type="radio" name="duration" class="form-check-input me-2"
                                                id="10 days" value="10" formControlName="duration" />
                                            <div class="list-item">10 days</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Flight -->
                        <div class="col-lg-4 d-flex mb-3">
                            <div class="dropdown w-100">
                                <button [class.selected-item]="searchFormPackage.value.flight"
                                    class="btn btn-dark w-100" type="button" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                    <div class="d-flex me-4 justify-content-between w-100">
                                        <div class="d-flex">
                                            <i class="bi bi-geo-alt-fill me-3"></i>
                                            <p class="m-0" *ngIf="searchFormPackage.value.flight">
                                                {{ searchFormPackage.value.flight }}
                                            </p>
                                            <p class="m-0 text-muted" *ngIf="!searchFormPackage.value.flight">
                                                Flight
                                            </p>
                                        </div>
                                        <i class="bi bi-chevron-down"></i>
                                    </div>
                                </button>
                                <div class="dropdown-menu p-3 animate slideIn">
                                    <div class="select-container">
                                        <label for="Nouvelair" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="flight"
                                                id="Nouvelair" value="Nouvelair" formControlName="flight" />
                                            <div class="list-item">Nouvelair</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Tunisair" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="flight"
                                                id="Tunisair" value="Tunisair" formControlName="flight" />
                                            <div class="list-item">Tunisair</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Syphax" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="flight" id="Syphax"
                                                value="Syphax" formControlName="flight" />
                                            <div class="list-item">Syphax Airlines</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Passengers -->
                        <div class="col-lg-8 d-flex mb-3">
                            <div class="dropdown w-100">
                                <button
                                    [class.selected-item]="searchFormPackage.value.passengers.length != 1 || numAdults != 1 || numChildren != 0"
                                    class="btn w-100" type="button" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                    <div class="d-flex me-4 justify-content-between w-100">
                                        <div class="d-flex">
                                            <i class="bi bi-people-fill me-3"></i>
                                            <p class="m-0"
                                                [class.text-muted]="searchFormPackage.value.passengers.length === 1 && numAdults === 1 && numChildren === 0"
                                                *ngIf="searchFormPackage.value.passengers.length">
                                                {{searchFormPackage.value.passengers.length}}&nbsp;Room{{searchFormPackage.value.passengers.length>1
                                                ? 's' : ''}}
                                                &nbsp;{{numAdults}}&nbsp;Adult{{numAdults>1 ?'s':''}}
                                                &nbsp;{{ numChildren !== 0 ? numChildren + '&nbsp;Child' +
                                                (numChildren > 1 ? 'ren' : '') : '' }}
                                            </p>
                                        </div>
                                        <i class="bi bi-plus"></i>
                                    </div>
                                </button>
                                <div class="dropdown-menu p-3 animate slideIn">
                                    <div formArrayName="passengers">
                                        <div class="d-flex flex-column">
                                            <div class="d-flex justify-content-between mb-3">
                                                <label for="">Room</label>
                                                <div
                                                    class="d-flex object-quantity mt-1 passengers-nbr align-items-center">
                                                    <div class="minus" (click)="deletePassenger()">-</div>
                                                    <div class="quantity">{{ passengers.length }}</div>
                                                    <div class="plus" (click)="addPassenger()">+</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngFor="
                                                let passenger of passengers.controls;
                                                let i = index
                                            ">
                                            <div [formGroupName]="i" class="d-flex flex-column mb-1">
                                                <div class="room-specifics d-flex flex-column">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="room-quantity">{{passenger.get('room')?.value}}
                                                        </div>
                                                    </div>
                                                    <div class="room-passengers-details">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div
                                                                    class="room-adults d-flex justify-content-between align-items-center mb-2">
                                                                    <label for="">Adults</label>
                                                                    <div
                                                                        class="d-flex object-quantity mt-1 passengers-nbr align-items-center">
                                                                        <div class="minus" (click)="minusadults(i)">-
                                                                        </div>
                                                                        <div class="quantity">
                                                                            {{passenger.get('adults')?.value}}</div>
                                                                        <div class="plus" (click)="plusadults(i)">+
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center mb-2">
                                                                    <label for="">Children</label>
                                                                    <div
                                                                        class="d-flex object-quantity mt-1 passengers-nbr align-items-center">
                                                                        <div class="minus" (click)="minuschildren(i)">-
                                                                        </div>
                                                                        <div class="quantity">
                                                                            {{passenger.get('children')?.value.length}}
                                                                        </div>
                                                                        <div class="plus" (click)="pluschildren(i)">+
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="child-age col-6 mb-2" formArrayName="children"
                                                                *ngFor="let child of children(i).controls;let k = index">
                                                                <div [formGroupName]="k" class="dropdown">
                                                                    <button
                                                                        [class.selected-item]="child.get('age')?.value"
                                                                        class="btn btn-dark w-100" type="button"
                                                                        data-bs-toggle="dropdown"
                                                                        data-bs-auto-close="outside"
                                                                        aria-expanded="false">
                                                                        <div
                                                                            class="d-flex me-4 justify-content-between w-100">
                                                                            <div class="d-flex">
                                                                                <p class="m-0">
                                                                                    {{ child.get('age')?.value ==='' ?
                                                                                    'Less
                                                                                    than one year' :
                                                                                    child.get('age')?.value}}
                                                                                </p>
                                                                            </div>
                                                                            <i class="bi bi-chevron-down"></i>
                                                                        </div>
                                                                    </button>
                                                                    <div
                                                                        class="dropdown-menu dropdown-menu-end p-3 animate slideIn">
                                                                        <div class="select-container"
                                                                            *ngFor="let item of ['Less than one year',1,2,3,4,5,6,7,8,9,10,11,12];let j=index">

                                                                            <input type="radio" [value]="item"
                                                                                [id]="'k' + k + 'j' + j"
                                                                                class="form-check-input me-2"
                                                                                formControlName="age">
                                                                            <label [for]="'k' + k + 'j' + j"
                                                                                class="list-item w-100">
                                                                                {{ item}}</label>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr *ngIf="i != 0 && i != passengers.length - 1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-3 d-flex w-100 justify-content-end">
                            <button (click)="searchPackage()" class="thm-btn">Search</button>
                        </div>
                    </div>
                </div>

            </form>
            <form *ngIf="searchFormMap && omraType == 'map'" [formGroup]="searchFormMap"
                class="d-flex flex-column second-tab">
                <div class="row">
                    <!-- Calendar -->
                    <div class="col-lg-6 mb-3">
                        <div class="dp-hidden position-absolute">
                            <div class="input-group">
                                <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                                    [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                    [dayTemplate]="t" style="border: 0; padding: 0; height: 40px" outsideDays="hidden"
                                    [startDate]="fromDate!" tabindex="-1" />
                                <ng-template #t let-date let-focused="focused">
                                    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                        {{ date.day }}
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                        <button class="btn btn-primary px-4 d-flex date-picker-btn" (click)="datepicker.toggle()"
                            type="button">
                            <div class="picker me-4">
                                <i class="bi bi-calendar2-fill me-2"></i>
                                {{ formatter.format(fromDate) }}
                            </div>
                            <div class="picker">
                                <i *ngIf="formatter.format(toDate)" class="bi bi-calendar2-fill me-2"></i>
                                {{ formatter.format(toDate) }}

                            </div>
                        </button>
                    </div>
                    <!-- Destination 1 -->
                    <div class="col-lg-3 mb-3" formGroupName="firstDestination">
                        <div class="dropdown w-100">
                            <button class="btn btn-dark w-100" type="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                                <div class="d-flex me-4 justify-content-between w-100">
                                    <div class="d-flex">
                                        <i class="bi bi-geo-alt-fill me-3"></i>
                                        <p class="m-0">

                                        </p>
                                        <p class="m-0 text-muted">
                                            1st destination
                                        </p>
                                    </div>
                                    <i class="bi bi-chevron-down"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu p-3 animate slideIn">
                                <div>
                                    <div class="select-container">
                                        <label for="Mekkah" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="destinationOne"
                                                id="Mekkah" value="Mekkah" formControlName="destinationOne" />
                                            <div class="list-item">Mekkah</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Medina" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="destinationOne"
                                                id="Medina" value="Medina" formControlName="destinationOne" />
                                            <div class="list-item">Medina</div>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                                <div class="d-flex flex-column justify-content-between align-items-center mb-2">
                                    <label for="">Nights</label>
                                    <div class="d-flex object-quantity mt-1 passengers-nbr align-items-center">
                                        <div class="minus" (click)="minusNightsFirstDestionation()">-
                                        </div>
                                        <div class="quantity">
                                            {{searchFormMap.get('firstDestination.nights')?.value}}
                                        </div>
                                        <div class="plus" (click)="plusNightsFirstDestionation()">+
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Destination 2 -->
                    <div class="col-lg-3 mb-3" formGroupName="secondDestination">
                        <div class="dropdown w-100">
                            <button class="btn btn-dark w-100" type="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                                <div class="d-flex me-4 justify-content-between w-100">
                                    <div class="d-flex">
                                        <i class="bi bi-geo-alt-fill me-3"></i>
                                        <p class="m-0">

                                        </p>
                                        <p class="m-0 text-muted">
                                            2nd destination
                                        </p>
                                    </div>
                                    <i class="bi bi-chevron-down"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu p-3 animate slideIn">
                                <div class="select-container">
                                    <label for="Makkah2" class="me-3 w-100">
                                        <input type="radio" class="form-check-input me-2" name="destinationTwo"
                                            id="Makkah2" value="Makkah" formControlName="destinationTwo" />
                                        <div class="list-item">Makkah</div>
                                    </label>
                                </div>
                                <div class="select-container">
                                    <label for="Medinah2" class="me-3 w-100">
                                        <input type="radio" class="form-check-input me-2" name="destinationTwo"
                                            id="Medinah2" value="Medinah" formControlName="destinationTwo" />
                                        <div class="list-item">Medinah</div>
                                    </label>
                                </div>
                                <hr>
                                <div class="d-flex flex-column justify-content-between align-items-center mb-2">
                                    <label for="">Nights</label>
                                    <div class="d-flex object-quantity mt-1 passengers-nbr align-items-center">
                                        <div class="minus" (click)="minusNightsSecondDestionation()">-
                                        </div>
                                        <div class="quantity">
                                            {{searchFormMap.get('secondDestination.nights')?.value}}
                                        </div>
                                        <div class="plus" (click)="plusNightsSecondDestionation()">+
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Passengers -->
                    <div class="col-lg-6 d-flex mb-3">
                        <div class="dropdown w-100">
                            <button
                                [class.selected-item]="searchFormMap.value.passengersmap.length != 1 || numAdultsMap != 1 || numChildrenMap != 0"
                                class="btn w-100" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                aria-expanded="false">
                                <div class="d-flex me-4 justify-content-between w-100">
                                    <div class="d-flex">
                                        <i class="bi bi-people-fill me-3"></i>
                                        <p class="m-0"
                                            [class.text-muted]="searchFormMap.value.passengersmap.length === 1 && numAdultsMap === 1 && numChildrenMap === 0"
                                            *ngIf="searchFormMap.value.passengersmap.length">
                                            {{searchFormMap.value.passengersmap.length}}&nbsp;Room{{searchFormMap.value.passengersmap.length>1
                                            ? 's' : ''}}
                                            &nbsp;{{numAdultsMap}}&nbsp;Adult{{numAdultsMap>1 ?'s':''}}
                                            &nbsp;{{ numChildrenMap !== 0 ? numChildrenMap + '&nbsp;Child' +
                                            (numChildrenMap > 1 ? 'ren' : '') : '' }}
                                        </p>
                                    </div>
                                    <i class="bi bi-plus"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu p-3 animate slideIn">
                                <div formArrayName="passengersmap">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex justify-content-between mb-3">
                                            <label for="">Room</label>
                                            <div class="d-flex object-quantity mt-1 passengers-nbr align-items-center">
                                                <div class="minus" (click)="deletePassengermap()">-</div>
                                                <div class="quantity">{{ passengersmap.length }}</div>
                                                <div class="plus" (click)="addPassengermap()">+</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngFor="
                                            let passenger of passengersmap.controls;
                                            let i = index
                                        ">
                                        <div [formGroupName]="i" class="d-flex flex-column mb-1">
                                            <div class="room-specifics d-flex flex-column">
                                                <div class="d-flex justify-content-between">
                                                    <div class="room-quantity">{{passenger.get('room')?.value}}
                                                    </div>
                                                </div>
                                                <div class="room-passengers-details">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div
                                                                class="room-adults d-flex justify-content-between align-items-center mb-2">
                                                                <label for="">Adults</label>
                                                                <div
                                                                    class="d-flex object-quantity mt-1 passengers-nbr align-items-center">
                                                                    <div class="minus" (click)="minusadultsmap(i)">-
                                                                    </div>
                                                                    <div class="quantity">
                                                                        {{passenger.get('adults')?.value}}</div>
                                                                    <div class="plus" (click)="plusadultsmap(i)">+
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div
                                                                class="d-flex justify-content-between align-items-center mb-2">
                                                                <label for="">Children</label>
                                                                <div
                                                                    class="d-flex object-quantity mt-1 passengers-nbr align-items-center">
                                                                    <div class="minus" (click)="minuschildrenmap(i)">-
                                                                    </div>
                                                                    <div class="quantity">
                                                                        {{passenger.get('childrenmap')?.value.length}}
                                                                    </div>
                                                                    <div class="plus" (click)="pluschildrenmap(i)">+
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="child-age col-6 mb-2" formArrayName="childrenmap"
                                                            *ngFor="let child of childrenmap(i).controls;let k = index">
                                                            <div [formGroupName]="k" class="dropdown">
                                                                <button [class.selected-item]="child.get('age')?.value"
                                                                    class="btn btn-dark w-100" type="button"
                                                                    data-bs-toggle="dropdown"
                                                                    data-bs-auto-close="outside" aria-expanded="false">
                                                                    <div
                                                                        class="d-flex me-4 justify-content-between w-100">
                                                                        <div class="d-flex">
                                                                            <p class="m-0">
                                                                                {{ child.get('age')?.value ==='' ?
                                                                                'Less
                                                                                than one year' :
                                                                                child.get('age')?.value}}
                                                                            </p>
                                                                        </div>
                                                                        <i class="bi bi-chevron-down"></i>
                                                                    </div>
                                                                </button>
                                                                <div
                                                                    class="dropdown-menu dropdown-menu-end p-3 animate slideIn">
                                                                    <div class="select-container"
                                                                        *ngFor="let item of ['Less than one year',1,2,3,4,5,6,7,8,9,10,11,12];let j=index">

                                                                        <input type="radio" [value]="item"
                                                                            [id]="'k' + k + 'j' + j"
                                                                            class="form-check-input me-2"
                                                                            formControlName="age">
                                                                        <label [for]="'k' + k + 'j' + j"
                                                                            class="list-item w-100">
                                                                            {{ item}}</label>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr *ngIf="i != 0 && i != passengersmap.length - 1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Route -->
                    <div class="col-lg-6 mb-3">
                        <div class="dropdown w-100">
                            <button class="btn btn-dark w-100" type="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                                <div class="d-flex me-4 justify-content-between w-100">
                                    <div class="d-flex">
                                        <i class="bi bi-geo-alt-fill me-3"></i>
                                        <p class="m-0">

                                        </p>
                                        <p class="m-0 text-muted">
                                            Path
                                        </p>
                                    </div>
                                    <i class="bi bi-chevron-down"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu p-3 animate slideIn">
                                <div>
                                    <div class="select-container">
                                        <label for="firstPath" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="path"
                                                id="firstPath" value="Jeddah - Makkah - Madinah - Madinah Airport" formControlName="path" />
                                            <div class="list-item">Jeddah - Makkah - Madinah - Madinah Airport</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="SecondPath" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="path"
                                                id="SecondPath" value="Jeddah - Makkah - Jeddah" formControlName="path" />
                                            <div class="list-item">Jeddah - Makkah - Jeddah</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Nationality -->
                    <div class="col-lg-6 mb-3">
                        <div class="dropdown w-100">
                            <button class="btn btn-dark w-100" type="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                                <div class="d-flex me-4 justify-content-between w-100">
                                    <div class="d-flex">
                                        <i class="bi bi-geo-alt-fill me-3"></i>
                                        <p class="m-0">

                                        </p>
                                        <p class="m-0 text-muted">
                                            Nationality
                                        </p>
                                    </div>
                                    <i class="bi bi-chevron-down"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu p-3 animate slideIn">
                                <div>
                                    <div class="select-container">
                                        <label for="Tunisia" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="nationality"
                                                id="Tunisia" value="Tunisia" formControlName="nationality" />
                                            <div class="list-item">Tunisia</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Algeria" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="nationality"
                                                id="Algeria" value="Algeria" formControlName="nationality" />
                                            <div class="list-item">Algeria</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Morocco" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="nationality"
                                                id="Morocco" value="Morocco" formControlName="nationality" />
                                            <div class="list-item">Morocco</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Country -->
                    <div class="col-lg-6 mb-3">
                        <div class="dropdown w-100">
                            <button class="btn btn-dark w-100" type="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                                <div class="d-flex me-4 justify-content-between w-100">
                                    <div class="d-flex">
                                        <i class="bi bi-geo-alt-fill me-3"></i>
                                        <p class="m-0">

                                        </p>
                                        <p class="m-0 text-muted">
                                            Country
                                        </p>
                                    </div>
                                    <i class="bi bi-chevron-down"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu p-3 animate slideIn">
                                <div>
                                    <div class="select-container">
                                        <label for="Tunisia" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="residenceCountry"
                                                id="Tunisia" value="Tunisia" formControlName="residenceCountry" />
                                            <div class="list-item">Tunisia</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Algeria" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="residenceCountry"
                                                id="Algeria" value="Algeria" formControlName="residenceCountry" />
                                            <div class="list-item">Algeria</div>
                                        </label>
                                    </div>
                                    <div class="select-container">
                                        <label for="Morocco" class="me-3 w-100">
                                            <input type="radio" class="form-check-input me-2" name="residenceCountry"
                                                id="Morocco" value="Morocco" formControlName="residenceCountry" />
                                            <div class="list-item">Morocco</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3 d-flex w-100 justify-content-end">
                        <button (click)="searchMap()" class="thm-btn">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- <hr />
<br>
<br>
<br>
<br>
<pre>Search form : {{searchFormMap?.value | json}}</pre>
<pre>From date model: {{ fromDate | json }}</pre>
<pre>To date model: {{ toDate | json }}</pre> -->