@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --omra-font: 'Jost', sans-serif;
    --omra-gray: #828282;
    --omra-gray-rgb: 130, 130, 130;
    --omra-white: #ffffff;
    --omra-white-rgb: 255, 255, 255;
    --omra-black: #485b5c;
    --omra-black-rgb: 72, 91, 92;
    --omra-base: #7d6a4c;
    --omra-base-rgb: 0, 63, 123;
    --omra-second: #c9a96a;
    --omra-second-rgb: 201, 169, 106;
    --omra-third: #f37a2d;
    --omra-third-rgb: 243, 122, 45;
    --omra-extra: #f4f5f5;
    --omra-extra-rgb: 244, 245, 245;
    --omra-bdr-radius: 3px;
}

body {
    font-family: var(--omra-font) !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 34px !important;
    background: #f4f5f5 !important;
    letter-spacing: .1em !important;
}

p {
    letter-spacing: .1em !important;
}

a {
    color: var(--motion-gray);
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

input:focus, select:focus, button:focus {
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0, 0) !important;
}

hr {
    border-color: #eee !important;
    opacity: 1 !important;
}

.logo {
    width: 370px;
    padding: 160px 0px;
    position: relative;
}

.search-section {
    position: relative;
    top: -220px;
}

.search-section-title.page-title {
    position: relative;
    width: 100%;
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 40%;
}

.search-category {
    background: var(--omra-second);
    border-radius: 3px 6px 0 0;
}

.search-container {
    box-shadow: 0 10px 20px 3px rgb(0 0 0 / 2%);
    background: url(assets/bg-search.jpg) #fff ;
    background-size: cover;
    background-position: 100% 100%;
    padding: 50px 50px;
}

.search-section .dropdown .btn .text-muted {
    color: #bababa !important;
    transition: all .3s linear;
}

.search-section .dropdown .btn:hover .text-muted,
.search-section .dropdown .btn:active .text-muted {
    color: #bababa !important;
}

.search-section .dropdown .btn {
    background: var(--omra-white);
    color: var(--omra-gray);
    border: 1px solid #eee ;
    border-radius: 3px 6px 3px 6px;
    padding: 15px 20px;
    transition: all .3s linear;
}

.search-section .dropdown .btn i,
.picker i {
    color: var(--omra-second);
    transition: all .3s linear;
}

.search-section .dropdown .btn:hover,
.search-section .dropdown .btn:active,
.search-section .dropdown .btn.selected-item  {
    background-color: var(--omra-white);
    color: var(--omra-base);
    border-color: var(--omra-second);
    transition: all .3s linear;
}

.thm-btn {
    background-color: var(--omra-base);
    color: var(--omra-white);
    border-radius: 3px 6px 3px 6px;
    border: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1em;
    outline: none!important;
    overflow: hidden;
    padding: 10px 60px;
    position: relative;
    text-transform: uppercase;
    transition: all .3s linear;
    vertical-align: middle;
    z-index: 1;
}

.thm-btn:before {
    background-color: var(--omra-second);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all .5s ease;
    width: 0;
    z-index: -1;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    left: 0;
}

.thm-btn:hover:before,
.thm-btn:active:before {
    width: 100%;
}

.category-item {
    position: relative;
    background: var(--omra-second);
    padding: 15px 45px;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    justify-content: center;
    cursor: pointer;
    transition: all .3s linear;
}

.category-item fa-icon {
    color: var(--omra-base);
    transition: all .3s linear;
}

.category-item:hover {
    background: var(--omra-base);
    color: var(--omra-white);
}

.category-item:hover fa-icon {
    color: var(--omra-white);
}

.category-item:after {
    content:'';
    height: 100%;
    width: 1px;
    background-color: rgba(0,0,0,0.1);
    display: block;
    position: relative;
    right: -46px;
}

.category-item:last-child:after {
    display: none;
}

.category-item i {
    font-size: 10px;
    color: var(--omra-base);
    transition: all .3s linear;
}

.category-item:hover i {
    color: var(--omra-white);
}

.active-category {
    background-color: var(--omra-white);
    color: var(--omra-base);
}

.category-btn {
    flex: 1;
}

.category-btn label {
    background: var(--omra-white);
    border: 1px solid var(--omra-second);
    padding: 6px 62px;
    width: 100%;
    text-align: center;
    border-radius: 3px 0 0 6px;
    color: var(--omra-base);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--omra-gray);
    cursor: pointer;
    transition: all .3s linear;
}

.category-btn:first-child label {
    border-right: 0px !important;
}

.category-btn:last-child label {
    border-radius: 0 3px 6px 0;
    border-left: 0px !important;
}

.category-btn label:hover {
    background: var(--omra-second);
    border: 1px solid var(--omra-second);
    color: #fff;
}

.category-btn:last-child label:hover {
    border-left: 0px;
}

.category-active {
    background: var(--omra-base) !important;
    border: 1px solid var(--omra-base) !important;
    color: #fff !important;
}

.search-container form input[type=radio] {
    display: none;
}

.list-item {
    background: var(--omra-white);
    border: 1px solid #eee;
    border-radius: 3px 6px 3px 6px;
    padding: 2px 20px;
    color: var(--omra-gray);
    margin-bottom: 5px;
    transition: all .3s linear;
}

.list-item:hover,
.select-container input[type=radio]:checked + .list-item {
    background: var(--omra-base);
    border-color: var(--omra-base);
    color: var(--omra-white);
}

.search-container form .list-item {
    font-weight: 400;
    font-size: 15px;
}

.room-quantity {
    font-size: 15px;
    font-weight: 300;
    background: var(--omra-second);
    display: block;
    width: 100%;
    padding: 0px 14px;
    color: var(--omra-white);
    border-radius: 3px 6px 0px 0px;
}

.room-passengers-details {
    border-radius: 0px 0px 3px 6px;
    border-top: 0px !important;
    border: 1px solid #eee;
    padding: 10px 10px 5px 10px;
}

.room-passengers-details label, .nights-nbr label {
    font-size: 15px;
    font-weight: 400;
}

.calendar .dropdown-menu.show {
    width: auto !important;
    margin-top: 37px !important;
    margin-bottom: 5px !important;
    padding: 20px;
}

.custom-day {
    font-weight: 400 !important;
    width: 32px !important;
    padding: 0 !important;
    height: 32px !important;
    font-size: 14px;
}

.custom-day.range, .custom-day:hover {
    background-color: var(--omra-base) !important;
    color: white;
}

.custom-day.faded {
    background-color: rgb(125 106 76 / 33%) !important;
}

.ngb-dp-month-name {
    font-size: 15px !important;
    font-weight: 400 !important;
    margin: 8px 0 !important;
}

.ngb-dp-navigation-chevron {
    color: #fff;
    border: solid var(--omra-base);
    border-width: 0 2px 2px 0;
    border-radius: 0;
    display: inline-block;
    padding: 3px;
}

.ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number {
    width: 32px !important;
    height: 32px !important;
}

.ngb-dp-weekday {
    color: var(--omra-base) !important;
}

.ngb-dp-weekday, .ngb-dp-week-number {
    line-height: 2rem !important;
    text-align: center !important;
    font-style: normal !important;
}

.ngb-dp-header, .ngb-dp-month-name, .ngb-dp-weekdays {
    background: var(--omra-white) !important;
}

.dropdown-menu.show {
    width: 100%;
    margin-top: 65px !important;
    margin-bottom: 65px !important;
    background: var(--omra-white);
    color: var(--omra-gray);
    border: 1px solid #eee ;
    border-radius: 3px 6px 3px 6px;
    padding: 15px 20px;
    transition: all .3s linear;
}

.search-section .drop-menu-sm-margin.show {
    margin-top: 8px !important;
}

.child-age .dropdown-menu.show {
    margin-top: 45px !important;
}

.passengers-nbr .minus, .passengers-nbr .plus {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid #c9a96a;
    color: #828282;
    border-radius: 3px 6px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
}

.passengers-nbr .minus:hover, .passengers-nbr .plus:hover {
    background: var(--omra-second);
    border: 1px solid var(--omra-second);
    color: var(--omra-white);
}

.passengers-nbr .quantity {
    height: 33px;
    margin: 0 5px;
    min-width: 50px;
    width: 50px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #dee2e6;
    background: white;
    border-radius: 3px 6px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    -webkit-user-select: none;
    user-select: none;
}

.search-section .dropdown .child-age button {
    border: 1px solid #dee2e6;
    font-size: 14px;
    outline: 0 !important;
    padding: 8px 15px;
    border-radius: 3px 6px;
}

.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}
  
.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.second-tab .date-picker-btn {
    width: 100%;
    position: relative;
    z-index: 100;
    padding: 15px 20px;
    border: 1px solid #eee;
    background: transparent;
    color: var(--omra-gray);
}  

.second-tab .date-picker-btn:hover,
.second-tab .date-picker-btn:active {
    background-color: var(--omra-white) !important;
    color: var(--omra-base) !important;
    border-color: var(--omra-second) !important;
    transition: all .3s linear;
}

.second-tab .date-picker-btn .picker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    grid-gap: 16px;
    gap: 16px;
}