@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Omra-font: 'Rubik', sans-serif;
    --Omra-gray: #828282;
    --Omra-gray-rgb: 130, 130, 130;
    --Omra-white: #ffffff;
    --Omra-white-rgb: 255, 255, 255;
    --Omra-black: #485b5c;
    --Omra-black-rgb: 72, 91, 92;
    --Omra-base: #003f7b;
    --Omra-base-rgb: 0, 63, 123;
    --Omra-second: #c9a96a;
    --Omra-second-rgb: 201, 169, 106;
    --Omra-third: #f37a2d;
    --Omra-third-rgb: 243, 122, 45;
    --Omra-extra: #f4f5f5;
    --Omra-extra-rgb: 244, 245, 245;
    --Omra-bdr-radius: 3px;
}

body {
    font-family: var(--Omra-font) !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 34px !important;
    background: #f4f5f5 !important;
    letter-spacing: .1em !important;
}

a {
    color: var(--motion-gray);
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

hr {
    border-color: #eee !important;
    opacity: 1 !important;
}

.search-container {
    box-shadow: 0 10px 20px 3px rgb(0 0 0 / 2%);
    background: #fff !important;
    padding: 50px 50px;
}

.search-section .dropdown .btn .text-muted {
    color: #bababa !important;
    transition: all .3s linear;
}

.search-section .dropdown .btn:hover .text-muted,
.search-section .dropdown .btn:active .text-muted {
    color: #bababa !important;
}

.search-section .dropdown .btn {
    background: var(--Omra-white);
    color: var(--Omra-gray);
    border: 1px solid #eee ;
    border-radius: 3px 6px 3px 6px;
    padding: 15px 20px;
    transition: all .3s linear;
}

.search-section .dropdown .btn i {
    color: var(--Omra-second);
    transition: all .3s linear;
}

.search-section .dropdown .btn:hover,
.search-section .dropdown .btn:active  {
    background-color: var(--Omra-white);
    color: var(--Omra-base);
    border-color: var(--Omra-second);
    transition: all .3s linear;
}

.thm-btn {
    background-color: var(--Omra-base);
    color: var(--Omra-white);
    border-radius: 3px 6px 3px 6px;
    border: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1em;
    outline: none!important;
    overflow: hidden;
    padding: 10px 60px;
    position: relative;
    text-transform: uppercase;
    transition: all .3s linear;
    vertical-align: middle;
    z-index: 1;
}

.thm-btn:before {
    background-color: var(--Omra-second);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all .5s ease;
    width: 0;
    z-index: -1;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    left: 0;
}

.thm-btn:hover:before,
.thm-btn:active:before {
    width: 100%;
}

.search-container form input[type=radio] {
    display: none;
}

.list-item {
    background: var(--Omra-white);
    border: 1px solid #eee;
    border-radius: 3px 6px 3px 6px;
    padding: 2px 20px;
    color: var(--Omra-gray);
    margin-bottom: 5px;
    transition: all .3s linear;
}

.list-item:hover,
.select-container input[type=radio]:checked + .list-item {
    background: var(--Omra-base);
    border-color: var(--Omra-base);
    color: var(--Omra-second);
}

.search-container form .list-item {
    font-weight: 400;
    font-size: 15px;
}

.room-quantity {
    font-size: 15px;
    font-weight: 300;
    background: var(--Omra-second);
    display: block;
    width: 100%;
    padding: 0px 14px;
    color: var(--Omra-white);
    border-radius: 3px 6px 0px 0px;
}

.room-passengers-details {
    border-radius: 0px 0px 3px 6px;
    border-top: 0px !important;
    border: 1px solid #eee;
    padding: 10px 10px 5px 10px;
}

.room-passengers-details label {
    font-size: 15px;
    font-weight: 400;
}

.dropdown-menu.show {
    width: 100%;
    margin-top: 65px !important;
    background: var(--Omra-white);
    color: var(--Omra-gray);
    border: 1px solid #eee ;
    border-radius: 3px 6px 3px 6px;
    padding: 15px 20px;
    transition: all .3s linear;
}

.passengers-nbr .minus, .passengers-nbr .plus {
    width: 32px;
    height: 32px;
    border: 1px solid #c9a96a;
    color: #828282;
    border-radius: 3px 6px;
    line-height: 32px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
}

.passengers-nbr .quantity {
    height: 33px;
    margin: 0 5px;
    min-width: 50px;
    width: 50px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #dee2e6;
    background: white;
    border-radius: 3px 6px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    -webkit-user-select: none;
    user-select: none;
}

.child-age .form-select{
    border: 1px solid #dee2e6;
    font-size: 14px;
}

.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

