.list-group-item {
    border-radius: 0 !important;
    padding: 20px;
    pointer-events: auto;
    background: var(--omra-white);
    color: #562403;
    border-bottom: 0 !important;
    transition: all .3s linear;
}

.list-group-item-action .active a, .list-group-item-action a {
    background-color: #876F4B !important;
    color: #fff !important;
    border-color: #876F4B !important;
}

.list-group-item .step-icon {
    display: block;
    position: relative;
    font-size: 22px;
    color: var(--omra-base);
    transform: scale(1);
    transition: all .3s linear;
}

.list-group-item span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #562403;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-out 0s;
}

.list-group-item-action:hover, 
.list-group-item-action:focus,
.list-group-item.active {
    background: var(--omra-second);
    border-color: #b59860;
    border-right: 1px solid #b59860;
}

.list-group-item-action:hover span,
.list-group-item.active:focus span,
.list-group-item.active span {
    color: var(--omra-white);
}

.list-group-item-action:hover .step-icon,
.list-group-item.active:focus .step-icon,
.list-group-item.active .step-icon {
    transform: scale(1.2);
}

.item-disabled {
    pointer-events: none;
    background: #eee;
    border: 0;
    border-right: 1px solid #ddd;
    transition: all 0.4s ease-out 0s;
}

.item-disabled .step-icon {
    pointer-events: none;
    color: #828282;
    transform: scale(1);
    border: 0;
    transition: all 0.4s ease-out 0s;
}

.item-disabled:nth-last-child(1) {
    border-right: 0;
}

.item-disabled span {
    color: #828282;
}

