<section class="page-section-title page-title centred include-header include-topbar"
  style="background-image: url(assets/page-title-2.jpg);">
</section>

<section class="bg-pattern-2 pt-5 pb-5">
    <div class="content-wrap pt-0">
      <div id="" class="content">
        <div class="content-wrap pt-0 pb-0">
          <div class="container">
            <div class="row">
                <div class="col-lg-12 pt-3 justify-content-start mb-4">
                    <div class="extras-page-title d-flex align-items-center justify-content-between gap-3">
                        <div class="d-flex flex-column">
                            <div class="heading-box">
                                <h2 class="heading-title color-1 mb-0">Extras</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9" *ngIf="step == 'step1'">
                    <div class="postcontent ground-services-list">
                        <div class="ground-service-item" *ngFor="let extra of hotelFirstDest.extras; let i = index">
                            <input type="checkbox" [attr.name]="'groundserv-box-'+i" [attr.id]="'groundserv-box-'+i" class="ground-service-check-box"
                            [attr.value]="'groundserv-box-'+i" disabled/>
                            <div class="box mb-4" [class.active]="selectedGroundServices.firstDest.includes('groundserv-box-'+i)">
                                <div class="row m-0">
                                    <div class="col-xl-4 ground-service">
                                        <div class="image-box">
                                            <img src="{{extra.picture}}" class="d-block w-100" alt="{{extra.title}}" />
                                        </div>
                                    </div>
                                    <div class="col-xl-8">
                                        <div class="ground-service-details">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="d-flex align-items-start justify-content-between mb-2">
                                                        <div class="d-flex flex-column">
                                                            <h3>{{extra.title}}</h3>
                                                            <div class="d-flex align-items-center column-gap-2">
                                                                <i class="icon-line-map-pin"></i>
                                                                <p class="extra-address mb-0">{{extra.location}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="text-end">
                                                            <div class="ground-service-price">
                                                                <span>$</span>{{extra.price}}<span class="price-text">/motamar</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0 read-more-content">{{displayMore(package.details.description)}}
                                                        <button id="read-more-package" class="read-more-btn" type="button" (click)="showMore()"
                                                        [ngStyle]="{'display': package.details.description.length > 350 ? 'block' : 'none'}">
                                                        {{ isShowMore ? 'Read Less': 'Read more' }}
                                                        </button>
                                                    </p>
                                                    <hr />
                                                    <p class="ground-service-text mb-2">
                                                    Please choose which days to have the ground-service
                                                    </p>
                                                    <div class="ground-service-date-container mb-3">
                                                        <ul>
                                                            <li>
                                                                <label for="ground-service-date"
                                                                class="ground-service-date d-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <input type="checkbox" id="ground-service-date" /> 08/15/2022 - 08/16/2022
                                                                </div>
                                                                </label>
                                                                <div
                                                                class="d-flex object-quantity ground-service-quantity justify-content-end align-items-center flex-column">
                                                                <div class="d-flex align-items-center ms-auto">
                                                                    <div><span>$</span>10 / adult</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">1</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </li>
                                                            <hr>
                                                            <li>
                                                                <label for="ground-service-date2"
                                                                class="ground-service-date d-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <input type="checkbox" id="ground-service-date2" /> 08/15/2022 - 08/16/2022
                                                                </div>
                                                                </label>
                                                                <div
                                                                class="d-flex object-quantity ground-service-quantity justify-content-end align-items-center flex-column">
                                                                <div class="d-flex align-items-center mb-1 ms-auto">
                                                                    <div><span>$</span>10 / adult</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">1</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center ms-auto">
                                                                    <div><span>$</span>5 / child</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">0</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </li>
                                                            <hr>
                                                            <li>
                                                                <label for="ground-service-date3"
                                                                class="ground-service-date d-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <input type="checkbox" id="ground-service-date3" /> 08/15/2022 - 08/16/2022
                                                                </div>
                                                                </label>
                                                                <div
                                                                class="d-flex object-quantity ground-service-quantity justify-content-end align-items-center flex-column">
                                                                <div class="d-flex align-items-center mb-1 ms-auto">
                                                                    <div><span>$</span>10 / adult</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">1</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center ms-auto">
                                                                    <div><span>$</span>5 / child</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">0</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="link float-end">
                                                        <button (click)="checkGroundService('groundserv-box-'+i, 'step1')"
                                                        class="color-btn ground-service-btn-select">
                                                        {{ selectedGroundServices.firstDest.includes('groundserv-box-' + i) ? 'Remove' : 'Add' }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

                <div class="col-xl-9" *ngIf="step == 'step2'">
                    <div class="ground-services-list">
                        <div class="ground-service-item" id="ground-services-list" *ngFor="let extra of hotelSecondDest.extras; let i = index">
                            <input type="checkbox" [attr.name]="'groundserv-box-'+i" [attr.id]="'groundserv-box-'+i" class="ground-service-check-box"
                            [attr.value]="'groundserv-box-'+i" disabled/>
                            <div class="box mb-4" [class.active]="selectedGroundServices.secondDest.includes('groundserv-box-'+i)">
                                <div class="row m-0">
                                    <div class="col-xl-4 ground-service">
                                        <div class="image-box">
                                            <img src="{{extra.picture}}" class="d-block w-100" alt="{{extra.title}}" />
                                        </div>
                                    </div>
                                    <div class="col-xl-8">
                                        <div class="ground-service-details">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="d-flex align-items-start justify-content-between mb-2">
                                                        <div class="d-flex flex-column">
                                                            <h3>{{extra.title}}</h3>
                                                            <div class="d-flex align-items-center column-gap-2">
                                                                <i class="icon-line-map-pin"></i>
                                                                <p class="extra-address mb-0">{{extra.location}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="text-end">
                                                            <div class="ground-service-price">
                                                                <span>$</span>{{extra.price}}<span class="price-text">/motamar</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0 read-more-content">{{displayMore(package.details.description)}}
                                                        <button id="read-more-package" class="read-more-btn" type="button" (click)="showMore()"
                                                        [ngStyle]="{'display': package.details.description.length > 350 ? 'block' : 'none'}">
                                                        {{ isShowMore ? 'Read Less': 'Read more' }}
                                                        </button>
                                                    </p>
                                                    <hr />
                                                    <p class="ground-service-text mb-2">
                                                    Please choose which days to have the ground-service
                                                    </p>
                                                    <div class="ground-service-date-container mb-3">
                                                        <ul>
                                                            <li>
                                                                <label for="ground-service-date"
                                                                class="ground-service-date d-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <input type="checkbox" id="ground-service-date" /> 08/15/2022 - 08/16/2022
                                                                </div>
                                                                </label>
                                                                <div
                                                                class="d-flex object-quantity ground-service-quantity justify-content-end align-items-center flex-column">
                                                                <div class="d-flex align-items-center ms-auto">
                                                                    <div><span>$</span>10 / adult</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">1</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </li>
                                                            <hr>
                                                            <li>
                                                                <label for="ground-service-date2"
                                                                class="ground-service-date d-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <input type="checkbox" id="ground-service-date2" /> 08/15/2022 - 08/16/2022
                                                                </div>
                                                                </label>
                                                                <div
                                                                class="d-flex object-quantity ground-service-quantity justify-content-end align-items-center flex-column">
                                                                <div class="d-flex align-items-center mb-1 ms-auto">
                                                                    <div><span>$</span>10 / adult</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">1</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center ms-auto">
                                                                    <div><span>$</span>5 / child</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">0</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </li>
                                                            <hr>
                                                            <li>
                                                                <label for="ground-service-date3"
                                                                class="ground-service-date d-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <input type="checkbox" id="ground-service-date3" /> 08/15/2022 - 08/16/2022
                                                                </div>
                                                                </label>
                                                                <div
                                                                class="d-flex object-quantity ground-service-quantity justify-content-end align-items-center flex-column">
                                                                <div class="d-flex align-items-center mb-1 ms-auto">
                                                                    <div><span>$</span>10 / adult</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">1</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center ms-auto">
                                                                    <div><span>$</span>5 / child</div>
                                                                    <div class="ms-2">
                                                                    <div class="minus">-</div>
                                                                    <div class="quantity">0</div>
                                                                    <div class="plus">+</div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="link float-end">
                                                        <button (click)="checkGroundService('groundserv-box-'+i, 'step2')"
                                                        class="color-btn ground-service-btn-select">
                                                        {{ selectedGroundServices.secondDest.includes('groundserv-box-' + i) ? 'Remove' : 'Add' }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="col-xl-3">
                    <!-- <app-package-bookings-sidebar></app-package-bookings-sidebar> -->
                    <app-package-bookings-sidebar [eventgoToNextStep]="goToNextStep"></app-package-bookings-sidebar>
                </div>
                <div class="col-xl-3">
                    <app-package-bookings-mob [eventgoToNextStep]="goToNextStep"></app-package-bookings-mob>
                    <!-- <app-package-bookings-mob ></app-package-bookings-mob> -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>            
